---
title: CMS
layout: layouts/base_subject.njk
eleventyNavigation:
  key: CMS
  order: 0
base: https://www.senarclens.eu/~gerald/presentations/cms1/
---


<h2 id="homework">Homework Assignments</h2>
<ul>
  {# <li><a href="/exercises/python/exercise_1/">Exercise 1</a></li>
  <li><a href="/exercises/python/exercise_2/">Exercise 2</a></li>
  <li><a href="/exercises/python/exercise_3/">Exercise 3</a></li>
  <li><a href="/exercises/python/exercise_4/">Exercise 4</a></li> #}
  <li><a href="/exercises/python/milp/">Mixed Integer Linear Programming</a></li>
</ul>

<h2 id="overview">Course Overview</h2>
<ul>
  <li><a href="{{ base }}0_syllabus/">Syllabus</a></li>
  <li><a href="{{ base }}1_intro/">Introduction</a></li>
  <li><a href="{{ base }}2_hello_world/">Hello World</a></li>
  <li><a href="{{ base }}3_strings/">Strings</a></li>
  <li><a href="{{ base }}4_functions/">Functions</a></li>
  <li><a href="{{ base }}5_data/">Collection Data Types</a></li>
  <li><a href="{{ base }}6_documentation/">Modules and Documentation</a></li>
  <li><a href="{{ base }}7_basic_classes/">Creating Your Own Data Types</a></li>
  <li><a href="{{ base }}8_testing/">Testing — systematic search for
    errors</a></li>
  <li><a href="{{ base }}9_functional_programming/">Functional
    Programming</a></li>
  <li><a href="{{ base }}10_algorithms/">Data Structures and Algorithms</a></li>
  <li><a href="{{ base }}13_review/">Review and Outlook</a></li>
  {# <li><a href="https://www.youtube.com/watch?v=4cdRApK7RTQ&list=PLAW1Fsz27UuaLYfGBmXM7nHur2XpNuIeD&index=1">Introduction to Linux as Development Environment</a>
    <ul>
      <li><a href="http://docs.find-santa.eu/linux/#selected-commands">Linux Command-Line</a></li>
      <li>Installation and Configuration of Tools</li>
      <li>Kate or <a href="http://docs.find-santa.eu/tools/vscodium.html">VSCodium</a> or KDevelop</li>
      <li>Debugging (commandline + GUI)</li>
    </ul>
  </li> #}
</ul>

<h2 id="notebooks">IPython Notebooks</h2>
<p>Make sure jupyter-lab is installed (<code>pip install --user --upgrade jupyterlab</code>). After downloading a notebook, use it via</p>
<pre>
jupyter notebook ${notebookname}
</pre>
<p>or open the entire development environment via</p>
<pre>
jupyter lab
</pre>
<ul>
  <li><a href="/data/notebooks/PuLP.ipynb">PuLP.ipynb</a></li>
  <li><a href="/data/notebooks/data_analysis.ipynb">data_analysis.ipynb</a></li>
</ul>

{# <h2 id="exams">Prior Exams</h2>
<ul>
  <li><a href="tests/pos1_mid_term_2021_a/">POS 1 mid term f2021 (group a)</a></li>
  <li><a href="tests/pos1_mid_term_2021_b/">POS 1 mid term f2021 (group b)</a></li>
  <li><a href="tests/pos1_mid_term_2021_extra/">POS 1 extra mid term f2021</a></li>
  <li><a href="tests/pos1_final_f2021_a/">POS 1 final f2021 (group a)</a></li>
</ul> #}

<h2 id="links">Links</h2>
<h3>Notes</h3>
<ul>
  <li><a href="http://docs.find-santa.eu/linux/#selected-commands">Selection of Linux Commands</a></li>
  <li><a href="http://docs.find-santa.eu/tools/vscodium.html">Introduction to VSCodium</a></li>
</ul>

{# <h3 id="software">Software</h3>
<ul>
  <li>KDE Neon Linux-based VirtualBox image with all programming tools we need:
    <a href="https://lehrer.bulme.at/~sg/vms/progamming.ova">progamming.ova</a><br />
    Download with username: <kbd>student</kbd>, ask in class for the password<br />
    Login with username: <kbd>student</kbd>, password: <kbd>changeme</kbd></li>
  <li><a href="https://www.virtualbox.org/wiki/Downloads">VirtualBox</a></li>
  <li><a href="https://files.kde.org/neon/images/user/current/neon-user-current.iso">KDE Neon Linux ISO image</a></li>
  <li>Text editor: <a href="https://vscodium.com/">VSCodium</a> or
    <a href="https://code.visualstudio.com/">Visual Studio Code</a></li>
</ul> #}

{% include 'blocks/code_challenge_sites.njk' %}

