---
layout: layouts/test.njk
class: 2BHEL
group: B
subject: FSST
date: 2022-03-08
points: [2, 10, 6, 6]
grading: "Benotung: >=21: 1, >=18: 2, >=15: 3, >=12: 4, <12: 5"
---

<ol>
  <li>Markiere, welche der folgenden Aussagen wahr bzw. falsch sind.<br />
  0-2 korrekt: 0 Punkte, 3 korrekt: 1 Punkt, 4 korrekt: 2 Punkte.
  <table class="true-false">
      <tr>
        <th>Aussage</th>
        <th>Wahr</th>
        <th>Falsch</th>
      </tr>
      {% yes_no_question 'Dynamische Speicherverwaltung in C is notwendig, um
        den gesamten vorhandenen Hauptspeicher nutzen zu können.', 'yes' %}
      {% yes_no_question '<code>malloc(.)</code> initialisiert den reservierten
        Speicher mit Nullen.', 'no' %}
      {% yes_no_question 'Der Rückgabewert von <code>malloc(.)</code> ist
        ein <code>void</code> Pointer.', 'yes' %}
      {% yes_no_question '<code>calloc(.)</code> initialisiert den reservierten
        Speicher mit Nullen.', 'yes' %}
    </table>
  </li>

  <li>Welcher Text wird durch die folgenden Code Snippets in der
    C-Programmiersprache auf Standard Output
    (Terminal) geschrieben? Schreibe den genauen Output des Snippets.
    Die Snippets werden als Teil von <code>int main()</code> ausgeführt und
    alle notwendigen <code>#include</code>s sind vorhanden.
    Wenn das Snippet nicht kompilierbar ist oder zu einem Absturz führen würde,
    so ist das Wort “ERROR” als Antwort zu geben.
    Erzeugt das Snippet keinen Output (wenn beispielsweise kein
    <code>printf</code> oder dergleichen aufgerufen wird), so ist "-" als
    richtige Antwort zu verwenden.
    <ol>
      <li>
{% highlight "c" %}
int a = 3;
int* ptr = &a;
*ptr += 4;
printf("%d\n", a);
{% endhighlight %}
{% answer %}
7
{% endanswer %}
      </li>
      <li>
{% highlight "c" %}
int a = 3;
int* ptr = &a;
int** p = &ptr;
**p += **p;
printf("%d\n", a);
{% endhighlight %}
{% answer %}
6
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int array[] = {3, 3, 3, 3, 3};
int* array_ptr = array;
int count = sizeof(array) / sizeof(int);
int value = 0;
while (count--) {
  value += *array_ptr++;
}
printf("%d\n", value);
{% endhighlight %}
{% answer %}
15
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
char name[] = "Pat";
char* name_ptr = name;
while (*name_ptr) {  // string ends with the `\0` character
  printf("%c", *name_ptr);
  name_ptr++;
}
printf("\n");
{% endhighlight %}
{% answer %}
Pat
{% endanswer %}
      <li>Note: die forward declaration von <code>TreeNode</code> in den ersten
        beiden Zeilen ist gültiges C.
{% highlight "c" %}
typedef struct treenode TreeNode;
struct treenode {int value; TreeNode *left; TreeNode *right;};
TreeNode *node = malloc(sizeof(TreeNode));
node->value = 123; node->left=NULL; node->right=NULL;
printf("%d\n", node->value);
{% endhighlight %}
{% answer %}
123
{% endanswer %}
      </li>

    </ol>
  </li>

  <li>Schreibe eine Funktion
    <code>int *range(int start, int stop);</code> welche einen Pointer zu einem
    Array mit aufsteigenden Zahlen zurück gibt. Der erste Wert des Arrays ist
    <code>start</code>, der letzte <code>stop - 1</code>. Die Anzahl der
    Elemente ist dementsprechend <code>stop - start</code>. Zum Beispiel gibt
    der Aufruf <code>range(3, 8)</code> einen Pointer zu folgendem Array
    zurück: <code>{3, 4, 5, 6, 7}</code>.
{% answer %}
    <div class="grading">
      1 Punkt den korrekten Funktionsnamen und die korrekte Signatur<br />
      2 Punkt für das Reservieren des Speichers<br />
      2 Punkt für das Initialisieren der Werte<br />
      1 Punkt für die Rückgabe des Arrays<br />
    </div>
{% highlight "c" %}
int *range(int start, int stop) {
  int *array = malloc((stop - start) * sizeof(int));
  for (int i = 0; i < stop - start; ++i) {
    array[i] = start + i;
  }
  return array;
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Erstelle einen Typen <code>Resistor</code>, welcher folgende
    Eigenschaften speichert: <code>unsigned int resistance</code>,
    <code>unsigned int max_voltage</code>,
    <code>float tolerance</code> und
    <code>char type[50]</code>.
{% answer %}
    <div class="grading">
      1 Punkt für die Deklaration des Structs<br />
      1 Punkt für den Typedef<br />
      je 1 Punkt für jedes der 4 Felder<br />
    </div>
{% highlight "c" %}
typedef struct resistor Resistor;
struct resistor {
  char type[50];
  unsigned int resistance;
  float tolerance;
  unsigned int max_voltage;
};
{% endhighlight %}
{% endanswer %}
  </li>
</ol>
