---
layout: layouts/test.njk
class: 2BHEL
group: B
subject: FSST
date: 2022-01-25
points: [2, 10, 8, 10]
grading: "Benotung: >=27: 1, >=24: 2, >=20: 3, >15: 4, <=15: 5"
---

<ol>
  <li>Das untenstehende Programm <code>hello.c</code> soll mittels
    <kbd>gcc</kbd> kompiliert
    werden. Die ausführbare Datei soll den Namen <kbd>hello</kbd> bekommen.
    Welches Kommando mit welchen Argumenten muss dazu verwendet werden?
{% highlight "c" %}
/* \file hello.c */
#include <stdio.h>

int main(void) {
  printf("Hello, World\n");
  return 0;
}
{% endhighlight %}
{% answer %}
gcc hello.c -o hello
{% endanswer %}
  </li>

  <li>Welcher Text wird durch die folgenden Code Snippets in der
    C-Programmiersprache auf Standard Output
    (Terminal) geschrieben? Schreibe den genauen Output des Snippets.
    Die Snippets werden als Teil von <code>int main()</code> ausgeführt und
    alle notwendigen <code>#include</code>s sind vorhanden.
    Wenn das Snippet nicht kompilierbar ist oder zu einem Absturz führen würde,
    so ist das Wort “ERROR” als Antwort zu geben.
    Erzeugt das Snippet keinen Output (wenn beispielsweise kein
    <code>printf</code> oder dergleichen aufgerufen wird), so ist "-" als
    richtige Antwort zu verwenden.
    <ol>
      <li>Hinweis: sin(0.5) ist ungefähr 0.479426.
{% highlight "c" %}
printf(sin(0.5): %.2f\n, sin(0.5));
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
char s[] = "Everyone wants to become a great programmer.";
printf("%c %c\n", s[0], s[2]);
{% endhighlight %}
{% answer %}
E e
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int j = 0;
for (int i = 0; i <= 3; ++i) {
  j += i * i;
}
printf("%d\n", j);
{% endhighlight %}
{% answer %}
14
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
for (int j = 10; j >= 0; --j) { printf("%d ", j); }
printf("\nHappy New Year!\n");
{% endhighlight %}
{% answer %}
10 9 8 7 6 5 4 3 2 1 0<br />
Happy New Year!
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int n = 6;
char d = 10;
bool work = true;
while (work) {
  if (n % d == 0) {
    printf("%d\n", d);
    work = false;
  }
  d -= 1;
}
{% endhighlight %}
{% answer %}
6
{% endanswer %}
      </li>

    </ol>
  </li>

  <li>
    <ol>

    <li>Ergänze das folgende Code Snippet so, dass
      <code>20,18,16,14,12,10</code> gefolgt von einem Zeilenumbruch
      auf Standard Output geschrieben wird.
{% highlight "c" %}
for (int i =      ;           ;         ) {
  printf("%d,", i);
}
printf(                   );
{% endhighlight %}
{% answer %}
{% highlight "c" %}
for (int i = 20; i >= 12; i = i - 2) {
  printf("%d,", i);
}
printf("10\n");
{% endhighlight %}
{% endanswer %}
    </li>
    <li>Schreibe eine <code>while</code> Schleife, welche den gleichen Output
      wie die obige <code>for</code> Schleife erzeugt.<br />
      1 Punkt für die notwendige Variable; 1 Punkt für die Condition;
      1 Punkt für den Loop-Body; 1 Punkt für den korrekten Output (alle printf).
{% answer %}
{% highlight "c" %}
int k = 20;
while (k > 10) {
  printf("%d,", k);
  k -= 2;
}
printf("10\n");
{% endhighlight %}
{% endanswer %}
    </li>
    </ol>
  </li>

  <li>Schreibe eine Funktion
    <code>int countEvenInArray(int array[], size_t dimension)</code>
    welche zurück gibt, wie viele gerade Zahlen in <code>array</code>
    vorkommen. Zum Beispiel
{% highlight "c" %}
int array[] = {4, 1, 7, 5, 4, 1, 4, 2, 7};
countEvenInArray(array, 9);  // returns 4
{% endhighlight %}
{% answer %}
{% highlight "c" %}
int countEvenInArray(int array[], size_t dimension) {
  int count = 0;
  for (size_t i = 0; i < dimension; ++i) {
    if (array[i] % 2 == 0) {
      count += 1;
    }
  }
  return count;
}
{% endhighlight %}
{% endanswer %}
  </li>
</ol>
