---
layout: layouts/test.njk
class: 3BHET
group: B
subject: CPE
date: 2022-06-08
points: [3, 10, 5, 3, 3]
grading: "Benotung: >=21: 1, >=18: 2, >=15: 3, >=12: 4, <12: 5"
---

<ol>
  <li>Markiere, welche der folgenden Aussagen wahr bzw. falsch sind.<br />
  0-3 korrekt: 0 Punkte, 4 korrekt: 1 Punkt, 5 korrekt: 2 Punkte,
  6 korrekt: 3 Punkte.
  <table class="true-false">
      <tr>
        <th>Aussage</th>
        <th>Wahr</th>
        <th>Falsch</th>
      </tr>
      {% yes_no_question '<code>char* p = "hello";</code> ist gültiges C.',
         'yes' %}
      {% yes_no_question 'Der Preprocessor ersetzt <code>#include</code>
        mit dem Inhalt der angegebenen Header Datei.',
        'yes' %}
      {% yes_no_question 'Ein Pointer benötigt auf einem 64bit Betriebssystem
        gleich viel Speicher wie ein <code>short</code>.', 'no' %}
      {% yes_no_question 'Das Aufteilen eines Programms auf mehrere
        Sourcecode Dateien erlaubt die Verwendung mehrerer CPU Kerne beim
        kompilieren.', 'yes' %}
      {% yes_no_question 'Der C Assembler kümmert sich primär um relativ
        einfache Textersetzungen.', 'no' %}
      {% yes_no_question 'Include guards erlauben es dem Preprocessor,
        plattformabhängigen Binärcode herzustellen.', 'no' %}
    </table>
  </li>


  <li>Welcher Text wird durch die folgenden Code Snippets in der
    C-Programmiersprache auf Standard Output
    (Terminal) geschrieben? Schreibe den genauen Output des Snippets.
    Die Snippets werden als Teil von <code>int main()</code> ausgeführt und
    alle notwendigen <code>#include</code>s sind vorhanden.
    Wenn das Snippet nicht kompilierbar ist oder zu einem Absturz führen würde,
    so ist das Wort “ERROR” als Antwort zu geben.
    Erzeugt das Snippet keinen Output (wenn beispielsweise kein
    <code>printf</code> oder dergleichen aufgerufen wird), so ist "-" als
    richtige Antwort zu verwenden.
    <ol>
      <li>
{% highlight "c" %}
char* p[] = {"Hello", "World!"};
puts(p[0]);
puts(p[1]);
{% endhighlight %}
{% answer %}
Hello<br />
World!
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int a = 3;
int* p = &a;
int** pp = &p;
**pp = **pp;
printf("%d\n", a);
{% endhighlight %}
{% answer %}
3
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int array[] = {1, 1, 1, 1, 1};
int* array_ptr = array;
int count = sizeof(array) / sizeof(int);
int value = 0;
while (count--) {
  value *= *array_ptr++;
}
printf("%d\n", value);
{% endhighlight %}
{% answer %}
0
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
char str[] = "students";
char* haystack = str;
char needle = 'x';
int occ = 0;
while (*haystack) {
  if (*haystack == needle) { occ++; }
  haystack++;
}
printf("%d\n", occ);
{% endhighlight %}
{% answer %}
0
{% endanswer %}
      </li>

      <li>
{% highlight "c" %}
int numbers[] = {1, 2, 3, 2};
int* itr = numbers;
int cnt = sizeof(numbers) / sizeof(int);
int total = 0;
while (cnt) {
  total += *itr++;
  cnt--;
}
printf("%d\n", total);
{% endhighlight %}
{% answer %}
8
{% endanswer %}
      </li>

    </ol>
  </li>


  <li>Schreibe eine Funktion
    <code>bool has_space(char* string)</code> welche <code>true</code>
    zurück gibt, wenn mindestens ein Whitespace Character darin vorkommt.
    Verwende dazu die gegebene Funktion <code>int isspace(.)</code> welche ein
    Zeichen als Argument nimmt und 0
    zurück gibt, wenn das Argument Whitespace ist, sonst wird
    >0 zurückgegeben.
{% answer %}
    <div class="grading">
      1 Punkt für die korrekte Signatur<br />
      1 Punkt für korrekte Schleifenbedingung<br />
      1 Punkt für inkrement des Schleifenpointers<br />
      1 Punkt für die Richtige Verwendung von <code>isspace(.)</code><br />
      1 Punkt für den passenden Rückgabewerte<br />
    </div>
{% highlight "c" %}
bool has_space(const char* string) {
  while (*string) {
    if (isspace(*string)) {
      return true;
    }
    string++;
  }
  return false;
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Schreibe eine Funktion
    <code>void zeroes(int* array, int count)</code>.
    Die Argumente dieser Funktion sind ein Pointer zu einem Array und die
    Anzahl der Elemente des Arrays. Die Funktion soll die Elemente des Arrays
    initialisieren (gegebenenfalls ersetzen).
    Jedes Element soll den Wert 0 bekommen.<br />
    Anwendungsbeispiel:
{% highlight "c" %}
int* numbers[5];
zeroes(numbers, 5);  // initializes `numbers` to {0, 0, 0, 0, 0}
{% endhighlight %}
{% answer %}
    <div class="grading">
      1 Punkt für die korrekte Signatur<br />
      1 Punkt für korrekte Schleifenbedingung<br />
      1 Punkt für das korrekte Setzen aller Werte<br />
    </div>
{% highlight "c" %}
void zeroes(int* array, int count) {
  for (int i = 0; i < count; ++i) {
    array[i] = 0;
  }
}
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Schreibe eine Funktion
    <code>void range(int* array, int count)</code>.
    Die Argumente dieser Funktion sind ein Pointer zu einem Array und die
    Anzahl der Elemente des Arrays. Die Funktion soll die Elemente des Arrays
    initialisieren (gegebenenfalls ersetzen).
    Der Wert jedes Elements des Arrays soll seine Index sein.
    Das heißt, dass das erste Element den Wert 0, das zweite
    (Index 1) den Wert 1, das dritte (Index 2) den Wert 2 bekommt
    und so weiter.
    Das n-te Element soll den Wert <code>n-1</code> bekommen.<br />
    Anwendungsbeispiel:
{% highlight "c" %}
int* number[5];
range(numbers, 5);  // initializes `numbers` to {0, 1, 2, 3, 4}
{% endhighlight %}
{% answer %}
    <div class="grading">
      1 Punkt für die korrekte Signatur<br />
      1 Punkt für korrekte Schleifenbedingung<br />
      1 Punkt für das korrekte Setzen aller Werte<br />
    </div>
{% highlight "c" %}
void range(int* array, int count) {
  for (int i = 0; i < count; ++i) {
      array[i] = i;
  }
}
{% endhighlight %}
{% endanswer %}
  </li>
</ol>
