---
layout: layouts/exercise_python.njk
exercise: 2
points: 9
---
<p><em>Use exactly the same input prompts and output messages as in the provided examples.</em> This is important as your results will partly be graded automatically.<br />
When completing the tasks you might get the impression that all of these
could be solved simpler using a spreadsheet program like LibreOffice Calc...
and you’d be right. But, hey, this is the first real code you write in a
programming language. The upcoming homeworks will be much more thrilling :)</p>

<ol>
  <li><strong>Numeric computation</strong><br/>
    Write a program that asks for the radius and height of a <a href="https://en.wikipedia.org/wiki/Spherical_cap">spherical cap</a> and prints its surface and volume (rounded to 3 digits).<br/>
    A sample run of this program:
<pre>
Enter the radius: 3.4
Enter the height: 2.1
The spherical cap has a surface of 44.862
The volume of the spherical cap is 37.407
</pre>
    Name the program file: <kbd>spherical_cap.py</kbd>
  </li>
  <li><strong>Fix the program below</strong><br/>
    There are a few bugs in the code below. The code should calculate the two
    solutions to quadratic equations like
    $$ax^2+bx+c=0$$
    One issue is that the code was written for Python 2, but there are more problems... [hint: the main bugs are conceptual errors - those are particularly evil, because the Python interpreter will not report an error] The results should be rounded to two digits.<br/>
{% highlight "python" %}
from math import sqrt
a = input("a: ")
b = input("b: ")
c = input("c: ")
q = sqrt(b**2 - 4 * a * c)
x1 = (-b + q) / 2a
x2 = (-b - q) / 2a
print x1, x2
{% endhighlight %}
    Name the program file: <kbd>quadratic_equation.py</kbd>
  </li>
  <li>
    <strong>Even numbers</strong><br/>
    Print the squares of all even numbers starting with 0 up to a value
    of the square supplied by the user.<br />
    A sample run of this program:
<pre>
Upper limit: 48
0
4
16
36
</pre>
    Name the program file: <kbd>even.py</kbd>
  </li>
  <li>
    <strong>Calculating a sum</strong>
    Write a program that adds up all numbers between 1 and a user-defined upper limit. However, only numbers that can be divided by a given positive integer without a remainder should be added. The upper limit has to be integral and must be included in the sum
    if divisible by the given denominator.
    [hint: one way to solve this is to read about the modulo operator in the documentation; however, if you use pencil and paper to really understand the problem, there is a nicer solution available]<br />
    A sample run of this program:
<pre>
Denominator: 7
Upper limit: 63
Sum: 315
</pre>
    Name the program file: <kbd>special_sum.py</kbd>
  </li>
  <li>
    <strong>Simple search</strong>
    Write a program that asks the user for two strings. The first string is a
    comma-separated list of relative filenames. The program should then
    count the non-overlapping occurrences of the second string in all the given
    files. The comparison must not be case sensitive. Note: non-overlapping means that searching for 'ha' in 'hahah' leads to two results while searching for 'hah' in 'hahah' leads to only one result as the second occurance of 'hah' would overlap with the first.<br />
    A sample run of this program:
<pre>
Files: f1.txt,f2.txt
Needle: lorem
Occurrences: 12
</pre>
    Name the program file: <kbd>search.py</kbd>
  </li>
  <li>
    <strong>Downloading data</strong>
    Write a script that downloads a file from the internet. The file contains a fictitious weather forecast for the next seven days. Once you can access
    the file's content, calculate the average temperature for the next weekend (Saturday and Sunday). Based on this average, the program should then suggest an activity for the weekend.
    <dl>
      <dt>&gt;25 C</dt><dd>swimming</dd>
      <dt>&gt;12 - 25 C</dt><dd>hiking</dd>
      <dt>&gt;5 - 12 C</dt><dd>watching movies</dd>
      <dt>&gt;-5 - 5 C</dt><dd>relaxing in the local hot springs</dd>
      <dt>&le;-5 C</dt><dd>skiing</dd>
    </dl>
    The fictitious weather forecast is available at <a href="/data/py/fc.txt">http://bulme.find-santa.eu/data/py/fc.txt</a>
    <br />
    A sample run of this program:
<pre>
Next weekend, hiking would be a good activity.
</pre>
    Name the program file: <kbd>downloading.py</kbd>
  </li>
  <li>
    <strong>VRPTW instances</strong><br/>
    The vehicle routing problem with time windows is a well known combinatorial
    optimization problem. There are many heuristics and local search methods
    available that help obtaining good results. However, before any instance
    can be solved, the input files have to be read.<br />
    Develop a small Python
    script that downloads the file <a href="/data/py/r101.txt">r101.txt</a> and then
    reads it line by line (using a for loop). Doing so, print the sum of the demand of all entries.
    [hint: <code>''.split(.)</code> is your friend]<br/>
    A sample run of this program:
<pre>
Total demand: 1458.0
</pre>
    Name the program file: <kbd>print_demand.py</kbd>
  </li>
  <li><!-- TODO: replace this task w/ a task involving static data from a photovoltaic inverter -->
    <strong>Financial Data</strong><br/>
    Using your favorite web browser, go to
    <a href="http://finance.yahoo.com/">http://finance.yahoo.com/</a>
    and search for a company of your choice. Then click on "Historical Data"
    and select a date range which provides at least 50 values. Click on
    Apply (even if you didn't adjust the date range) followed by
    "Download Data" to obtain the data in the CSV format.<br />
    Write a Python script that reads each data line's closing price. The script
    then needs to calculate the average closing price over the entire period.
    Print the average closing price (two digits after the decimal point) and
    indicate whether it is higher or lower
    than the most recent closing price.<br/>
    A sample run of this program:
<pre>
File to analyze: ${YOURFILE}
The average closing price was ${AVERAGE_CLOSING_PRICE}.
The most recent closing price (...) was ... above the average.
</pre>
    [Output depends on the file you downloaded... to allow the grader to work on your computer, download the data for Andritz AG (ANDR.VI).]<br />
    Name the program file: <kbd>financial_data.py</kbd>
  </li>
  <li>
    <strong>Factoring of integers</strong><br />
    <!-- TODO: add to grader and adjust points etc. -->
    Write a program that prints out all the factors of a given number.<br />
    A sample run of this program:
<pre>
Integer: 60
60 = 2 * 2 * 3 * 5
</pre>
    Name the program file: <kbd>factor.py</kbd>
  </li>
  <li>
    <strong>ROT13 (hard!)</strong><br/>
    ROT13 is a simple substitution cipher. Read about it at
    <a href="http://en.wikipedia.org/wiki/Rot13">http://en.wikipedia.org/wiki/Rot13</a>.
    It is built on the fact that each character has an integer ordinal
    (<code>i = ord(c); c = chr(i)</code>).<br/>
    Read an entire file into a single string and convert it to uppercase (for simplicity). Then
    encrypt/ decrypt the text using ROT13. To translate the
    text, iterate over all characters in the string. Characters other than A-Z
    should not be changed. Test your code with the provided rot13.txt file. Besides asking the user for an input filename, the only output of the program must be the decoded content of the file.
    [note: you are not allowed
    to use Python's translate function or dictionaries; A has the ordinal 65, Z
    has the ordinal 90]<br/>
    A sample run of this program:
<pre>
File to decode: rot13.txt
[Patient, little bird - start working on this task...*]
</pre>
    * this is not the actual output as it would be a spoiler to know the result
    before even starting to try to figure out the solution yourself ;)<br />
    Name the program file: <kbd>rot13.py</kbd>
  </li>
</ol>
