---
layout: layouts/exercise_python.njk
exercise: 1
points: 9
---
<p><em>Use exactly the same input prompts and output messages as in the provided examples.</em> This is important as your results will partly be graded automatically.<br />
When completing the tasks you might get the impression that all of these
could be solved simpler using a spreadsheet program like LibreOffice Calc...
and you’d be right. But, hey, this is the first real code you write in a
programming language. The upcoming homeworks will be much more thrilling :)</p>

<ol>
  <li><strong>Simple Calculation</strong><br/>
    The first exercise concerns basic mathematics: Write a program for
    printing the result of 8+3*6.<br/>
    A sample run of this program:
<pre>
26
</pre>
    Name the program file: <kbd>simplemath.py</kbd>
  </li>
  <li><strong>Convert Fahrenheit to Celsius</strong><br/>
    Ask the user to enter a floating point number denoting a temperature in
    degrees Fahrenheit. There must be a single space after the colon of the input prompt. Use the exact same wording for the input prompt and output as in the example below. Print that number converted to Celsius using the
    formula $C = \frac{5}{9}(F-32)$. The result must be rounded to two digits after the decimal point.<br />
    A sample run of this program:
<pre>
Enter a temperature in degrees Fahrenheit: 72.3
72.3 degrees Fahrenheit correspond to 22.39 degrees Celsius
</pre>
    Name the program file: <kbd>fahrenheit_to_celsius.py</kbd>
  </li>
  <li>
    <strong>Compute the return of investing money</strong><br/>
    Ask the user to enter a three values - a bank’s interest rate in percent
    per year, an initial investment and a number of years. Print both the
    earnings and the future value at the end of the investment. Assume that
    there are no taxes. The result must be rounded to two digits after the decimal point.<br />
    A sample run of this program:
<pre>
Enter the fixed interest rate in percent: 3.2
Enter the amount of money you want to invest: 3000.0
Enter the number of years the money will be invested: 5
The earned interest is 511.72.
The terminal value amounts to 3511.72.
</pre>
    Name the program file: <kbd>interest.py</kbd>
  </li>
  <li>
    <strong>Surface area and volume of a sphere</strong><br/>
    The program below should print the surface area and volume of a sphere given its
    radius. However, it contains errors. Fix the program.<br/>

{% highlight "python" %}
from math import PI
radius = input("Enter a radius: ")
area = 2 * r**2 ** pi
volume = (4 div 3) * r^3 * PI
print("The sphere has a volume of", round(volume, 2));
print("The surface are of this sphere is", round(Area, 2));
{% endhighlight %}
    Name the program file: <kbd>sphere.py</kbd>
  </li>
  <li>
	    <strong>Convert Celsius to Fahrenheit</strong><br/>
    Instead of asking the user for input, simply print all temperatures from
    -15 degrees Celsius to +35 degrees Celsius in Fahrenheit. Use the formula
    $F = \frac{9}{5}C + 32$. [hint: use a while loop]<br/>
    A sample run of this program:
<pre>
-15 C =&gt; 5.0 F
-14 C =&gt; 6.8 F
-13 C =&gt; 8.6 F
[...]
34 C =&gt; 93.2 F
35 C =&gt; 95.0 F
</pre>
    Name the program file: <kbd>celsius_to_fahrenheit.py</kbd>
  </li>
  <li>
    <strong>Imperial units</strong><br />
    Ask the user for a length in meters and print the corresponding length measured in inches, in feet, in yards, and in miles. Assume that one inch is 2.54 cm, one foot is
    12 inches, one yard is 3 feet, and one British mile is 1760 yards. Round all results to two digits for printing.<br />
    A sample run of this program:
<pre>
Enter a distance in meters: 1.3
51.18 inch
4.27 feet
1.42 yards
0.00 miles
</pre>
    Name the program file: <kbd>imperial_units.py</kbd>
  </li>
  <li>
    <strong>Mathematical functions</strong><br />
    Write a program that prints the sine and tangent of all values between 0 and $\pi$ in steps of 0.1. The last value must be $\pi$. All values should be rounded to 2 digits after the decimal point. Hint: check the documentation of the <code>format</code> function.<br />
    A sample run of this program:
<pre>
radians |  sine | tangent
-------------------------
    0.0 |   0.0 |     0.0
    0.1 |   0.1 |     0.1
    0.2 |   0.2 |     0.2
[...]
    3.0 |  0.14 |   -0.14
    3.1 |  0.04 |   -0.04
   3.14 |   0.0 |    -0.0
</pre>
  Name the program file: <kbd>trigonometry.py</kbd>
  </li>
  <li>
    <strong>Distance between two points</strong><br/>
    Write a program that asks the user for two points in a two-dimensional plane. The program must calculate and print the euclidean distance between the two points, rounded to 4 digits.<br />
  A sample run of this program:
<pre>
First point's x-coordinate: 3.0
First point's y-coordinate: 7.0
Second point's x-coordinate: -2.0
Second point's y-coordinate: 3.0
The euclidean distance between the two points is 6.4031.
</pre>
  Name the program file: <kbd>distance.py</kbd>
  </li>
  <li>
    <strong>Conversion between Celsius and Fahrenheit</strong><br/>
    Create a new program using the formulas from exercises 1 and 5 that first
    asks the user whether a conversion from Celsius to Fahrenheit
    or the other way around is desired. Then print a table of values converting one unit
    to the other. For the conversion from C to F print the range of values from
    -20 to +40; for conversion from F to C print the values from -10 to
    +110.<br/>
    A sample run of this program:
<pre>
For C =&gt; F enter C, for F =&gt; C enter F: C
-20 C =&gt; -4.0 F
-19 C =&gt; -2.2 F
[...]
39 C =&gt; 102.2 F
40 C =&gt; 104.0 F
</pre>
    Name the program file: <kbd>temperature_tables.py</kbd>
  </li>
</ol>
