---
layout: layouts/exercise_base.njk
exercise: Mixed Integer Linear Programming (MILP)
points: 9
---
{% include 'blocks/teams_of_two.njk' %}

<p>
Download <a href="/data/py/hw_10.tar.gz">hw_10.tar.gz</a> and extract it. Then add
your homework solutions to the directory. Rename the
directory according to the rules in the syllabus before submitting it as
compressed archive. Don't forget to add the correct subject to the email
when submitting.</p>

<p>All of the tasks below need to</p>
<ul>
  <li>run with the provided input data without crashing</li>
  <li>produce correct results</li>
  <li>have proper documentation</li>
  <li>be implemented without using non-English function and variable names,
    docstrings, comments etc.</li>
</ul>
<p>in order to receive (full) points.</p>

<p>In this homework, it is up to you to pick one of the tasks below and solve it.</p>

<ol>
  <li><strong>Transportation Problem</strong> (9 points)<br/>
  Suppose a company has a set of warehouses / fulfillment centers ($N$) and a
  set of retail outlets / demand nodes / customers ($M$). A single product is
  to be shipped from the fulfillment centers to  the customers. Each fulfillment
  center has a given level of supply, and each  customer has a given level of
  demand. We are also given the transportation costs between every pair of
  fulfillment center and customer.

  <dl>
    <dt>$x_{nm}$</dt>
    <dd>amount of goods shipped from $n$ to $m$ (integral)</dd>
    <dt>$c_{nm}$</dt><dd>cost of shipping one unit from $n$ to $m$</dd>
    <dt>$u_n$</dt><dd>units available at fulfillment center $n$ (supply)</dd>
    <dt>$u_m$</dt><dd>units demanded by customer $m$</dd>
  </dl>

  <p style="margin-top: 1em;">A straight-forward mixed-integer formulation of this problem is</p>
  $$
  \begin{align}
  \min \quad & \sum_{n \in N}\sum_{m \in M} x_{nm} * c_{nm} & \\
  s.t. \quad & \sum_{n \in N} x_{nm} = u_m & \forall m \in M \\
  & \sum_{m \in M} x_{nm} \leq u_n & \forall n \in N\\
  & x_{nm} \geq 0 & \forall n \in N \quad \forall m \in M
  \end{align}
  $$
  Implement this LP in the provided file <code>milp.py</code>. You can do it entirely in the the <code>model(.)</code> function. Ideally implement the objective function and each constraint in a separate function and call them from within <code>model(.)</code>.
  </li>
  <li><strong>Travelling Salesperson Problem (TSP)</strong> (9 points)<br/>
  Write a program, which can find an optimum solution of the
  <a href="https://en.wikipedia.org/wiki/Travelling_salesman_problem">travellings salesperson problem (TSP)</a>
  by using an ILP solver. To do so enlarge the API designed in the
  <a href="http://find-santa.eu/teaching/cms/hw_6.php">6th homework</a>. In
  <a href="data/hw_10.tar.gz">hw_10.tar.gz</a> you can find the file <code>t_s_p.py</code> containing
  the class <code>O</code>. Your task is to finish this class.<br/>

  Feel free to use any ILP formulation of this famous problem, the easiest (but not the fastest) one can be found
  <a href="https://en.wikipedia.org/wiki/Travelling_salesman_problem#Miller-Tucker-Zemlin_formulation">here</a>.
  </li>

</ol>
