---
title: WIP Programming in Python
subtitle: Hello World
layout: layouts/presentation.njk
---

<section>
  <section>
    <h2>Why Python?</h2>
    <p>Its features make it an excellent choice for beginners</p>
    <ul class="fragment">
      <li>Gets things done...</li>
      <li>Rapidly gaining in popularity
        <ul>
          <li><a href="https://www.openhub.net/languages/compare?utf8=%E2%9C%93&measure=commits&language_name%5B%5D=c&language_name%5B%5D=java&language_name%5B%5D=perl&language_name%5B%5D=php&language_name%5B%5D=python&language_name%5B%5D=csharp&language_name%5B%5D=-1&commit=Update">ohloh.net</a></li>
          <li><a href="https://www.tiobe.com/tiobe-index/">TIOBE Index</a></li>
        </ul>
        </li>
      <li>Easy to learn</li>
      <li>Open Source</li>
      <li>Multi paradigm scripting/ programming language</li>
      <li>Platform independent</li>
      <li>Excellent tools, batteries included, third party modules, community,
        ...</li>
    </ul>
  </section>

  <section>
    <h2>Disadvantages</h2>
    <ul>
      <li>Execution speed</li>
      <li>Block delimiters confusing if editor is not properly configured</li>
    </ul>
  </section>

  <section>
    <h2>Jobs</h2>
      <ul>
        <li><a href="http://www.python.org/jobs/">Python Job Board</a></li>
        <li><a href="http://www.careerjet.at/">Careerjet</a></li>
      </ul>
  </section>
</section>

<section>
{% highlight "python" %}
"if" assignment_expression ":" suite
             ("elif" assignment_expression ":" suite)*
             ["else" ":" suite]
{% endhighlight %}
<p class="fragment">Without structs, returning more than one value is not possible in C.</p>

</section>

<section>

<section>
  <h2>Declaring and Defining Structs</h2>
  <section>
    <h3>Declaration</h3>
{% highlight "c" %}
struct struct_name {
   type member1;
   type member2;
   /* declare as many members as desired */
};
{% endhighlight %}
  </section>
  <section>
    {# Factor out as real c code file with highlighting the struct declaration. Make runnable! #}
    <h3>Example: Declaration and Definition of a Date</h3>
<div class="fragment" style="margin-top: 1em;">
The members can also be named explicitly:
{% highlight "c" %}
struct date {
   int year;
   int month;
   int day;
};
struct date d = { .year=2021, .month=12, .day=10 };
{% endhighlight %}
  {% include_code "source/c/structs/date.c" %}
</div>
  </section>
</section>

{% include 'slides/closing.njk' %}
