{#
Using extends instead of normal layout chaining is necessary here as
most of the content is shared between multiple unit test intros for different
programming languages with only a few blocks being distinct.
#}

{% extends "layouts/presentation.njk" %}
{% set source_path = "source/" + language_ + "/arrays/" %}
{% set data_path = "/data/" + language_ + "/arrays/" %}

{% block presentation %}

<section>
  <section>
    <h2>Purpose of Arrays</h2>
    <h3>Which Problems do Arrays solve?</h3>
    <ul>
      <li>Arrays allow storing many elements of the same type</li>
      <li>These elements can be passed to a function together</li>
      <li>The number of elements does not have to be known upfront</li>
    </ul>
  </section>

  <section>
    <h2>Which Problems do Arrays Cause?</h2>
    <ul>
      <li>The memory address an array variable reference cannot be changed</li>
      <li>Passing arrays to functions requires passing their size as well</li>
      <li>Not all {{ language }} compilers support dynamically sized arrays on
        the stack</li>
      <li>Arrays cannot be directly returned from functions</li>
    </ul>
  </section>
</section>

<section>
  <h2>What is a C-Array?</h2>

  <section>
    <p>A reference to the beginning of consecutive memory of a given type</p>
    <div class="fragment">
  {% highlight "c" %}
  int numbers[] = {32, 45, 12, 39, 7, 15};
  {% endhighlight %}
    <table class="memory" style="font-size: 50%">
      <tr>
        <th class="left">Index</th>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <th>Value</th>
        <td>32</td>
        <td>45</td>
        <td>12</td>
        <td>39</td>
        <td>7</td>
        <td>15</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>0x7fc8c013e0</td>
        <td>0x7fc8c013e4</td>
        <td>0x...e8</td>
        <td>0x...ec</td>
        <td>0x...f0</td>
        <td>0x...f4</td>
      </tr>
    </table>
    <div class="fragment">
      <p>The index is the offset of the referenced memory.</p>
      <p>The first element has index 0.</p>
      <p>0 means that there is no offset from the beginning of the referenced
        memory</p>
    </div>
  </section>

  <section>
    <h3>Array Subscription</h3>
    <p>Subscription is the selection of an element using its index.</p>
{% highlight "c" %}
int points[] = {32, 45, 12, 39, 7, 15};
printf("%d\n", points[2]);  // read element with the subscripting operator
points[0] = 50;  // write to element with the subscripting operator
{% endhighlight %}

  </section>
</section>

<section>
  <h2>Working with Arrays</h2>

  <section>
    <h3>Creating an Array of Constant Size</h3>
{% highlight language_ + " 3" %}
{% include source_path + "constant_size." + language_ %}
{% endhighlight %}
{% include_code source_path + "constant_size." + language_ %}
  </section>

  <section>
    <h3>Create Dynamically Sized Array</h3>
    <p>... supported by compilers that fully implement the C99 standard.</p>
    <p>Other compilers require the use of
      <a href="../dynamic_memory_management/">dynamic memory management</a>.
    </p>
{% highlight language_ + " 4" %}
{% include source_path + "dynamic_size." + language_ %}
{% endhighlight %}
{% include_code source_path + "dynamic_size." + language_ %}
  </section>

  <section>
    <h3>Determine the Number of Elements</h3>
    <p>The compiler can determine the number of elements.</p>
    <p>The <code>sizeof</code> operator returns the total memory in bytes.</p>
{% highlight language_ + " 4,5" %}
{% include source_path + "determine_size." + language_ %}
{% endhighlight %}
{% include_code source_path + "determine_size." + language_ %}
  </section>

  <section>
    <h3>Pass the Number of Elements When Passing an Array to a Function</h3>
{% highlight language_ + " 2,7,14" %}
{% include source_path + "function_argument." + language_ %}
{% endhighlight %}
{% include_code source_path + "function_argument." + language_ %}
  </section>

  <section>
    <h3>Arrays Are Not Assignable</h3>
{% highlight language_ + " 5,6" %}
{% include source_path + "not_assignable." + language_ %}
{% endhighlight %}
{% download data_path + "not_assignable." + language_ %}
  </section>
</section>

<section>
  <h2>Returning an Array from a Function</h2>

  <section>
    <p>It is not possible to directly return an array from a function.</p>
    <p>Its memory would be on the stack and the returned reference invalid.
    </p>
    <div class="fragment">
      <p>There are three possible approaches</p>
      <ul>
        <li>Workaround: pass array as argument (use caller's stack memory)</li>
        <li>Workaround: create static array (preserve memory between calls)
          <br />
          (requires <a href="../pointers/">pointers</a>)
        </li>
        <li>Solution: return pointer to array on the free store<br />
          (requires <a href="../pointers/">pointers</a> and
          <a href="../dynamic_memory_management/">
            dynamic memory management</a>)
        </li>
      </ul>
    </div>
  </section>

  <section>
    <h3>Pass Array as an Argument</h3>
{% highlight language_ + " 4,13" %}
{% include source_path + "modify_argument." + language_ %}
{% endhighlight %}
{% include_code source_path + "modify_argument." + language_ %}
  </section>

</section>

{% include 'slides/closing.njk' %}
{% endblock %}
