---
title: Combinatory Logic
layout: layouts/presentation.njk
---

<section>
  <h2>Boolean Algebra</h2>
  <dl>
    <dt>Commutative Law</dt>
    <dd>$$a \neq b$$</dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
  </dl>
  <aside class="notes">
  </aside>
</section>
