---
layout: layouts/test.njk
class: 1AKIFT
group: A
subject: POS
date: 2021-11-04
points: [2, 6, 2, 5, 10]
grading: "Grading: 23-25: 1, 20-22: 2, 17-19: 3, 13-16: 4, <13: 5"
---

<ol>
  <li>What is the difference between a <strong>comment</strong> and a <strong>docstring</strong>?
{% answer %}
Comments are ignored by the interpreter and programming tools.
Docstrings are used to generate documentation, make information available in
development tools and can be accessed programmatically.
{% endanswer %}
  </li>

  <li>What is the output of the following code snippets? Write exactly what the
    output of each snippet is if the snippet is the sole content of a Python
    file. If the output is an error message, it is enough to write “ERROR”.
    If there is no output, write "-".
    <ol>
      <li>
{% highlight "python" %}x = 5
y = 2 * x**2 + 2 * x - 7
print(y)
{% endhighlight %}
{% answer %}
53
{% endanswer %}
      </li>
      <li>
{% highlight "python" %}n = 10
d = 6
work = True
while work:
    if n / d == 0:
        print (d)
        work = False
    d -= 1
{% endhighlight %}
{% answer %}
ERROR
{% endanswer %}
      </li>

      <li>
{% highlight "python" %}s = "Everyone wants to become a great programmer."
print (s[3], s[-2])
{% endhighlight %}
{% answer %}
r r
{% endanswer %}
      </li>
    </ol>
  </li>
  <li>What is <strong>scope</strong> in computer programming?
{% answer %}
Scope determines where a name can be accessed (eg. function scope ).
{% endanswer %}
  </li>
  <li>Rewrite the following <code>for</code> loop as <code>while</code> loop.
{% highlight "python" %}
for i in range(0, 10, 3):
    print(f'{i} * {i} = {i * i}')
{% endhighlight %}
{% answer %}
{% highlight "python" %}
i = 0
while i < 10:
    print(f'{i} * {i} = {i * i}')
    i += 3
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Finish the program below. The given search term <code>needle</code>
  should be searched in all of the files in the list of relative
  <code>filenames</code>. The program should count the non-overlapping
  occurrences of <code>needle</code> in all the given files and print it
  to standard output. The comparison must not be case sensitive. Use the
  <code>string</code> class' <code>S.count(sub[, start[, end]]) -> int</code>
  method which returns the number of non-overlapping occurrences of substring
  sub in string S[start:end].
{% highlight "python" %}
#!/usr/bin/env python
filenames = input('Files: ')
needle = input('Needle: ').lower()
matches = 0
filenames = filenames.split(',')  # create list of filenames
{% endhighlight %}
{% answer %}
{% highlight "python" %}
for filename in filenames:
    with open(filename) as f:
        content = f.read().lower()
        matches += content.count(needle)
print(matches)
{% endhighlight %}
{% endanswer %}
  </li>
</ol>
