---
layout: layouts/test.njk
class: 3BHEL
group: A
subject: FSST
date: 2023-01-24
points: [2, 18]
grading: "Grading: >= 18: 1, 15-17: 2, 12-14: 3, 10-11: 4, <10: 5"
---

<ol>
  <li>
        {% YesNoTable 2, '', 2 %}
{% yes_no_question 'A C++ struct cannot have private members.', 'no' %}
{% yes_no_question 'A default constructor is a constructor which can be called
  with no arguments.', 'yes' %}
        {% endYesNoTable %}
  </li>

  <li>Deklariere eine <code>class Circle</code> die einen Kreis mit
    zwei Koordinaten für den Mittelpunkt und einen Radius repräsentiert.
    Die Koordinaten der Kreis-Objekte müssen ohne Einschränkung veränderbar
    sein und einen Defaultwert von 0 haben. Stelle sicher, dass der Radius
    niemals kleiner als 0 sein kann.
    Definiere dazu entsprechende Methoden.
    Der Defaultwert des Radius soll 1.0 sein.
    Stelle einen default constructor sowie einen constructor mit Argumenten
    für die Koordinaten und den Radius zur Verfügung.
    Weiters sollen die Funktionen <code>long double area()</code> und
    <code>long double circumference()</code>
    implementiert werden, die die Fläche und den Umfang des Kreises zurück
    geben. Verwende <code>M_PIl</code> als Wert für $\pi$.
    Alle Funktionen, die den Kreis nicht ändern, müssen mit dem
    passenden Schlüsselwort gekennzeichnet sein.
    (18 points)
{% answer %}
    <div class="grading">
    1+1 points for declaring the circle including the semicolon<br />
    1 point for the default constructor<br />
    3 points for the three-argument constructor<br />
    1+1 points for declaring the public data members<br />
    1 point for declaring the private radius<br />
    1 point for the default values of all the data members<br />
    2 points for radius' setter<br />
    1 point for the radius' getter<br />
    2 points for implementing <code>area()</code><br />
    2 points for implementing <code>circumference()</code><br />
    1 point for making the above functions and the getter <code>const</code>
    </div>
{% highlight "cpp" %}
class Circle {
public:
  Circle() = default;
  Circle(double x, double y, double radius) : x{x}, y{y} {
    this->radius(radius);
  }
  double x {0.0};
  double y {0.0};
  double radius() const { return radius_; }  // getter;
  void radius(double radius) {
    if (radius >= 0) { radius_ = radius; return; }
    std::cerr << "not allowed to set negative radius" << std::endl;
  }
  long double area() const { return M_PIl * radius_ * radius_; }
  long double circumference() const { 2 * return M_PIl * radius_; }
private:
  double radius_ {1.0};
};
{% endhighlight %}
{% endanswer %}
  </li>


</ol>
