---
layout: layouts/test.njk
class: 5ABELI + 5ACELI
group: A
subject: FSST
date: 2023-01-26
points: [8, 10, 32]
grading: "Benotung: >=45: 1, >=39: 2, >=33: 3, >25: 4, <=25: 5"
---

<ol>
  <li>
    Die unten abgebildete Website ist auf <kbd>sandbox.bulme.at</kbd> zu
    erstellen. Dazu sind folgende Vorarbeiten notwendig. (8 Punkte)
    <ol>
      <li>mit ssh auf <kbd>sandbox.bulme.at</kbd> einloggen</li>
      <li>in <kbd>~/</kbd> ist das Verzeichnis <kbd>public_html</kbd>
        zu erstellen
      </li>
      <li>die Rechte von <kbd>~/</kbd> und <kbd>~/public_html</kbd>
        sind so zu ändern, dass alle Benutzer am System das execute
        Recht (<kbd>x</kbd>) haben</li>
    </ol>
  </li>

  <li>Datei erstellen und Metadaten hinzufügen (10 Punkte)
    <ol>
      <li>Eine neue, leere Datei <kbd>index.html</kbd> ist in
        <kbd>~/public_html</kbd> zu erstellen. Die gesamte restliche
        Arbeit findet in dieser Datei (<code>~/public_html/index.html</code>)
        statt.</li>
      <li>Die Seite ist so zu erstellen, dass die verwendete Sprache im
        <code>html</code> Tag vermerkt ist.
      </li>
      <li>Als Zeichensatz wird UTF-8 verwenden. Dies ist auch in der HTML
        Datei an geeigneter Stelle zu vermerken.
      </li>
      <li>Im Titel des Browser Fensters soll der eigene Name erscheinen.</li>
      <li>Im <code>&lt;head&gt;</code> soll ein <code>meta</code> Tag mit den
        Attributen <code>name="author"</code> und
        <code>content="${your_name}"</code> hinzugefügt werden.</li>
    </ol>
  </li>

  <li>Inhalt der Seite<br />
    Die vorgegebene Seite ist möglichst genau nachzustellen. Dabei
    sind alle Werte, welche als <kbd>${...}</kbd> gekennzeichnet sind,
    mit selbst gewählten Werten zu ersetzen. Folgende Links sind zu verwenden:
    <ol>
      <li>1. Bild: https://sandbox.bulme.at/~sg/images/deer1.jpg<br />
        Falls die Bildquelle nicht zur Verfügung steht soll ein passender
        ersatztext statt dem Bild angezeigt werden.
      </li>
      <li>2. Bild: https://sandbox.bulme.at/~sg/images/deer2.jpg<br />
        Falls die Bildquelle nicht zur Verfügung steht soll ein passender
        ersatztext statt dem Bild angezeigt werden.
      </li>
      <li>Link des Formulars: https://sandbox.bulme.at/~sg/submission/</li>
      <li>Bei den Optionen im Formular muss es ausreichen, auf den Text zu
        klicken, um eine Auswahl zu treffen.
      </li>
      <li>fsst.html Link: https://sandbox.bulme.at/~sg/fsst.html</li>
    </ol>
{% answer %}
  <div class="grading">
  5 (1+3*1+1) h1, 3*h2 und h3<br />
  1 für den Absatz "Dieses Tier..."<br />
  3+4 Punkte für die Bilder inkl. alt und einer caption<br />
  3 Punkte für die ul<br />
  1 Punkt für hervorheben von "Reh"<br />

  4 für die Option Sommer / Winter mit klickbaren Labels und Vorauswahl
    Winter<br />
  5 für die Gewichtsoption mit klickbaren Labels und Vorauswahl 5kg<br />
  2 für den Benutzernamen inklusive "placeholder" Text<br />
  2 für den Submit Knopf<br />
  2 für den weiterführenden link<br />
  </div>
{% endanswer %}
  </li>
</ol>
<hr class="page-break-after">


<main>
  <h1 style="text-align: left;">${your_name}</h1>

  <section class="page-break-after">
    <h2>Bild</h2>
    <p>Dieses Tier habe ich in meinem Garten gesehen.</p>
    <img src="https://sandbox.bulme.at/~sg/images/deer1.jpg"
          alt="A deer in my yard." />
    <h2>Nahrung</h2>
    <h3>Rehe lieben...</h3>
    <ul>
      <li>Blätter</li>
      <li>Blüten</li>
      <li>Rinde</li>
    </ul>
    <figure>
      <img src="https://sandbox.bulme.at/~sg/images/deer2.jpg"
            alt="Another picture of a deer in my yard.">
      <figcaption>Ein <strong>Reh</strong> in meinem Garten.</figcaption>
    </figure>
  </section>

  <section>
    <h2>Bestellformular</h2>
    <form action="https://sandbox.bulme.at/~sg/submission/">
      <p>Für welche Jahreszeit wird Futter benötigt?</p>
      <p>
        <input id="summer" type="radio" name="season" value="summer" />
        <label for="summer">Sommer</label><br />
        <input id="winter" type="radio" name="season"
                value="winter" checked="" />
        <label for="winter">Winter</label>
      </p>
      <p>
        <legend>Welche Menge wird benötigt?</legend>
        <input id="small" type="radio" name="amount" value="1">
        <label for="small">1 kg</label>
        <input id="medium" type="radio" name="amount" value="5"
                checked>
        <label for="medium">5 kg</label>
        <input id="large" type="radio" name="amount" value="10">
        <label for="large">10 kg</label>
      </p>
      <p>
        <input type="text" name="username" placeholder="username"
               required>
      </p>
      <p>
        <button type="submit">Abschicken</button>
      </p>
    </form>
  </section>
</main>
<footer>
  <p>
    Mehr Informationen:
    <a href="https://sandbox.bulme.at/~sg/fsst.html">fsst.html</a>
  </p>
</footer>

