<table class="header">
  <caption>
    <a href="https://en.wikipedia.org/wiki/Internet_Protocol_version_4#Packet_structure">
      ICMP Header</a>
      (<a href="https://datatracker.ietf.org/doc/html/rfc792">RFC792</a>)</caption>
  <tbody>
    <tr>
      <th>Offset</th>
      <th>Byte</th>
      <th colspan="8">0</th>
      <th colspan="8">1</th>
      <th colspan="8">2</th>
      <th colspan="8">3</th></tr>
    <tr>
      <th>Byte</th>
      <th>Bit</th>
      <th>00</th><th>01</th><th>02</th><th>03</th><th>04</th><th>05</th><th>06</th><th>07</th>
      <th>08</th><th>09</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th>
      <th>16</th><th>17</th><th>18</th><th>19</th><th>20</th><th>21</th><th>22</th><th>23</th>
      <th>24</th><th>25</th><th>26</th><th>27</th><th>28</th><th>29</th><th>30</th><th>31</th>
    </tr>
    <tr>
      <th>0</th><th>0</th>
      <td colspan="8">Type</td>
      <td colspan="8">Code</td>
      <td colspan="16">Checksum</td>
    </tr>
    <tr>
      <th>4</th><th>32</th>
      <td colspan="32">content depends on the ICMP type and code</td>
    </tr>
  </tbody>
</table>
