/*
 * Common style file shared by all presentations.
 */


/* avoid mathjax double-rendering issue */
mjx-assistive-mml {
  display: none;
}

.reveal {
  font-family: "Nunito", sans-serif;
  font-size: 180%;
}

.reveal h1, .reveal h2, .reveal h3 {
  font-family: 'Yanone Kaffeesatz';
  text-transform: inherit;
  text-shadow: none;
  color: #6d0505;
  margin-top: 1ex;
}

.code {
  font-family: 'Fira Code' !important;
}

/* Allow using about 80 chars on an FHD display. */
pre > code[class*="language-"] {
  font-size: 1.2em;
}

.reveal pre {
  width: 100%;
  box-shadow: none;
  border: none;
  font-family: 'Fira Code' !important;
  font-size: 55%;
  margin: 0;
  padding: 0;
}

.reveal pre code {
  padding: 0;
}

.reveal ul {
  margin-bottom: 1ex;
}

.container {
  display: flex;
}

.container.column {
  flex: 1;
}

li.implication {
  list-style-type: "\21D2";
  padding-left: 1ex;
}

.code {
  font-family: 'Fira Code', monospace;
}

/* Center table column headers */
tr:first-child th {
  text-align: center;
}

/* Left align row headers */
/* Since the first rows first element is ambiguous, left aligning requires
   using the "left" class */
th, tr:first-child th.left {
  text-align: left;
}
/* Show the status of computer memory in a table */
table.memory {
  margin-top: 3ex;
}
table.memory td, table.memory th {
  font-family: 'Fira Code', monospace;
}


/* Show network packet / datagram / segment header */
table.header .vertical-lr {
  writing-mode: vertical-lr;
  line-height: 2em;
}
table.header {
  font-family: 'Fira Code', monospace;
  caption-side: bottom;
  table-layout: fixed;
}

.header caption {
  margin-top: 1em;
  /*font-size: initial;*/
  font-weight: bold;
}

table.header th, table.header td {
  text-align: center;
  border: 1px solid;
  vertical-align: middle;
  padding: 2px;
  margin: 0;
  min-width: 2em;
}

/* override reveal table setting */
table.header tbody tr:last-child th,
table.header tbody tr:last-child td {
  border-bottom: 1px solid;
}

.inline-box {
  text-align: center;
  display: inline-block;
}
