---
tags: presentations
---
<!DOCTYPE html>
{# TODO:
  - add prerequisites with links to presentation template
  - only show them, if any are defined
#}
<html lang="en">
  <head>
    <title>{{ title }}{% if subtitle %} - {% endif %}{{ subtitle }}</title>
    <link rel="icon" href="/images/favicon.png" type="image/png" />
    <link rel="stylesheet" href="/styles/reveal.css" type="text/css">
    <link rel="stylesheet" href="/styles/simple.css" type="text/css">
    <link rel="stylesheet" href="/styles/prism-ghcolors.css" type="text/css">
    <link rel="stylesheet" href="/styles/fonts-local.css" type="text/css">
    <link rel="stylesheet" href="/styles/presentation.css" type="text/css">
    <base target="_blank">
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section {# data-background-image="images/TODO.svg" #}
                 data-background-position="bottom 10% right 10%"
                 data-background-size="30%">
          <h1>{{ title }}</h1>
          <h2>{{ subtitle }}</h2>
          {% if subsubtitle %}
          <h3>{{ subsubtitle }}</h3>
          {% endif %}
          <p id="author">
            <a href="http://www.senarclens.eu/~gerald/">Gerald Senarclens de Grancy</a>
          </p>
          <aside class="notes">
            <ul>

            </ul>
          </aside>
        </section>

      {{ content | safe }}
      {% block presentation %}{% endblock %}

      </div>
    </div>

  {#
  (De-)activate search: Ctrl+Shift+F
  Speaker View: s
  #}

    <script src="/scripts/reveal.js" type="text/javascript"></script>
    <script src="/scripts/reveal_plugins/markdown.js"
            type="text/javascript"></script>
    <script src="/scripts/reveal_plugins/notes.js"
            type="text/javascript"></script>
    <script src="/scripts/reveal_plugins/search.js"
            type="text/javascript"></script>
    <script>
      Reveal.initialize({
        controls: true,
        progress: true,
        center: false,
        hash: true,
        width: 1000,
        margin: 0,
        padding: 0,
        slideNumber: 'c/t',
        plugins: [ RevealMarkdown, RevealNotes, RevealSearch ]
      });
    </script>
  </body>
</html>
