---
tags: tests
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Gerald Senarclens de Grancy" />
  <title>{{ class }} {{ subject }} Test (Group {{ group }} - {% isodate date %})</title>
  <link rel="icon"
        href="/images/favicon.png"
        type="image/png" />
  <link rel="stylesheet" href="/styles/prism-coy-without-shadows.css" type="text/css">
  <link rel="stylesheet" href="/styles/fonts-local.css" type="text/css">
  <link rel="stylesheet" href="/styles/test.css" type="text/css">
  <script type="text/javascript" src="/scripts/test.js"></script>
</head>

<body>
<header>
<h1>{{ class }} {{ subject }} Test (Group {{ group }})</h1>
<p id="date">{% isodate date %}</p>
<p><em>Max. {{ points | sum }} points</em></p>
<p><strong>Name:</strong></p>


<table class="points">
  <tr>
    <th>Task</th>
    <th>Max.</th>
    <th>Achieved</th>
  </tr>
  {% for score in points %}
  <tr>
    <td>{{ loop.index }}</td>
    <td class="score">{{ score }}</td>
    <td></td>
  </tr>
  {% endfor %}
  <tr>
    <th>Sum</th>
    <td class="score">{{ points | sum }}</td>
    <td></td>
  </tr>
</table>
{{ grading }}
</header>

  {{ content | safe }}


<div class="printedHash"></div>

</body>
</html>
