---
layout: layouts/test.njk
class: 1AKIFT
group: A
subject: DBI
date: 2022-12-05
points: [4, 24, 10, 3, 3, 2, 4]
grading: "Grading: >=45: 1, >=39: 2, >=33: 3, >25: 4, <=25: 5"
---

<ol>
  <li><strong>Databases, DBMS, SQL</strong><br />
    {% YesNoTable 8 %}
      {% yes_no_question 'A database is an organized collection of data stored
        and accessed electronically.', 'yes' %}
      {% yes_no_question 'SQL is an acronym for "Secure Query Language".',
        'no' %}
      {% yes_no_question 'MariaDB and Mysql were founded by the same person.',
        'yes' %}
      {% yes_no_question 'PostgreSQL is a DBMS.', 'yes' %}
      {% yes_no_question 'With regard to databases, a relation describes the
        reference between two tables.', 'no' %}
      {% yes_no_question 'A database engine allows to create, read, update and
        delete (CRUD) data from a database.', 'yes' %}
      {% yes_no_question 'MariaDB was bought by Oracle Corporation.', 'no' %}
      {% yes_no_question 'DBeaver is a DBMS.', 'no' %}
    {% endYesNoTable %}
  </li>

  <li class="center-images"><strong>Create a Database and Tables</strong>
    (24 points)<br />
    Create the database <kbd>beer</kbd>
    matching the following ERD. Make sure to
    create the references between the tables. Elements in the
    <code>beer_ingredients</code>
    table should be deleted when the corresponding beer is deleted. It must not
    be allowed to delete an <code>ingredient</code> that is referenced from the
    <code>beer_ingredients</code> table.<br />
    <img src="/images/databases/beer_db.png" alt="[Beer DB ERD]">
{% answer %}
    <div class="grading">
    1 point for creating the database<br />
    2 points for correct syntax to create the ingredients table incl.
      semicolon<br />
    2 points for the id column + primary key of the ingredients table<br />
    1 point for the ingredient table's `name` column<br />
    6 points (2+2+1+1) for the beers table incl. semicolon<br />
    7 points (2+2+1+1+1) for the beer_ingredients table incl. semicolon<br />
    3 points for beer_id reference w/ on delete cascade<br />
    2 points for ingredient_id reference<br />
    </div>
{% highlight "sql" %}
-- mariadb solution
create database beer;
use beer;

create table ingredients (
  ingredient_id INTEGER PRIMARY KEY AUTO_INCREMENT,
  name VARCHAR(50)
);

create table beers (
  beer_id INTEGER PRIMARY KEY AUTO_INCREMENT,
  name VARCHAR(50),
  description VARCHAR(255)
);

create table beer_ingredients (
  beer_ingredient_id INTEGER PRIMARY KEY AUTO_INCREMENT,
  quantity numeric,
  beer_id integer,
  ingredient_id integer,
  FOREIGN KEY (beer_id) REFERENCES beers (beer_id) on delete cascade,
  FOREIGN KEY (ingredient_id) REFERENCES ingredients (ingredient_id)
);
{% endhighlight %}
{% endanswer %}
  </li>

  <li><strong>Adding Data</strong> (10 points)<br />
    <p>
      Add the following data to your database.
    </p>
    <table>
      <thead>
        <th colspan="2"><code>ingredients</code></th>
      </thead>
      <tbody>
        <tr>
          <th><code>ingredient_id</code></th>
          <th><code>name</code></th>
        </tr>
        <tr>
          <td>1</td>
          <td>hops</td>
        </tr>
        <tr>
          <td>2</td>
          <td>malt</td>
        </tr>
        <tr>
          <td>3</td>
          <td>cherry</td>
        </tr>
        <tr>
          <td>4</td>
          <td>water</td>
        </tr>
        <tr>
          <td>5</td>
          <td>wheat</td>
        </tr>
      </tbody>
    </table>

    <table style="margin-top: 1em;">
      <thead>
        <th colspan="3"><code>beers</code></th>
      </thead>
      <tbody>
        <tr>
          <th><code>beer_id</code></th>
          <th><code>name</code></th>
          <th><code>description</code></th>
        </tr>
        <tr>
          <td>1</td>
          <td>lager</td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>ale</td>
          <td></td>
        </tr>
      </tbody>
    </table>
{% answer %}
    <div class="grading">
    3+3 points for insert into (...) values incl. semicolon at end<br />
    2+2 points for data (2 for ingredients, 2 for beers)<br />
    </div>
{% highlight "sql" %}
insert into ingredients (name) values
('hops'),
('malt'),
('cherry'),
('water'),
('wheat');

insert into beers (name) values
('lager'),
('ale');
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Delete the 'cherry' ingredient. (3 points)<br />
{% answer %}
    <div class="grading">
    2 points for delete statement incl. semicolon<br />
    1 point for correct condition<br />
    </div>
{% highlight "sql" %}
delete from ingredients where name = 'cherry';
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Replace the 'ale' with an 'IPA'. (3 points)<br />
{% answer %}
    <div class="grading">
    1 point for update table incl. semicolon<br />
    1 point for set name...<br />
    1 point for correct condition
    </div>
{% highlight "sql" %}
update beers set name = 'IPA' where name = 'ale';
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Since we don't have time to maintain the content of the
    beer_ingredients table, remove it. (2 points)<br />
{% answer %}
    <div class="grading">
    2 points for drop statement incl. semicolon<br />
    </div>
{% highlight "sql" %}
drop table beer_ingredients;
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Finaly, show the content of both remaining tables
    (<code>beers</code> and <code>ingredients</code>)
    using two separate SQL statements. (4 points)
{% answer %}
    <div class="grading">
    2 points for each select statement incl. semicolon<br />
    </div>
{% highlight "sql" %}
select * from ingredients;
select * from beers;
{% endhighlight %}
{% endanswer %}
  </li>

</ol>
