---
layout: layouts/test.njk
class: 1AKIFT
group: B
subject: DBI
date: 2023-01-09
points: [4, 24, 10, 3, 3, 2, 4]
grading: "Grading: >=45: 1, >=39: 2, >=33: 3, >25: 4, <=25: 5"
---

<ol>
  <li><strong>Databases, DBMS, SQL</strong><br />
    {% YesNoTable 8 %}
      {% yes_no_question 'A relational database is focused on relationships
        between in-memory objects.', 'no' %}
      {% yes_no_question 'SQL is an acronym for "Structured Query Language".',
        'yes' %}
      {% yes_no_question 'MariaDB and PostgreSQL are different names for the
        same DBMS.',
        'no' %}
      {% yes_no_question 'PostgreSQL is available with a permissive open source
        license.', 'yes' %}
      {% yes_no_question 'An ERD is a diagram that describes the structure of a
        database.', 'yes' %}
      {% yes_no_question 'A database engine allows to create, read, update and
        delete (CRUD) data from a database.', 'yes' %}
      {% yes_no_question 'PostgreSQL was bought by Oracle Corporation.', 'no' %}
      {% yes_no_question 'DBeaver is a DBMS.', 'no' %}
    {% endYesNoTable %}
  </li>

  <li class="center-images"><strong>Create a Database and Tables</strong>
    (24 points)<br />
    Create the database <kbd>computer_games</kbd>
    matching the following ERD. Make sure to
    create the references between the tables. Elements in the
    <code>consoles_games</code>
    table should be deleted when the corresponding game is deleted. It must not
    be allowed to delete a <code>console</code> that is referenced from the
    <code>consoles_games</code> table.<br />
    <img src="/images/databases/computer_games_erd.png"
         alt="[Computer Games ERD]">
{% answer %}
    <div class="grading">
    1 point for creating the database<br />
    2 points for correct syntax to create the games table incl.
      semicolon<br />
    2 points for the id column + primary key of the games table<br />
    1 point for the games table's `name` column<br />
    6 points (2+2+1+1) for the consoles table incl. semicolon<br />
    7 points (2+2+1+1+1) for the consoles_games table incl. semicolon<br />
    3 points for game_id reference w/ on delete cascade<br />
    2 points for the (by default restricted) console_id reference<br />
    </div>
{% highlight "sql" %}
-- mariadb solution
create database computer_games;
use computer_games;

create table consoles (
  console_id INTEGER PRIMARY KEY AUTO_INCREMENT,
  name VARCHAR(50)
);

create table games (
  game_id INTEGER PRIMARY KEY AUTO_INCREMENT,
  name VARCHAR(50),
  description VARCHAR(255)
);

create table consoles_games (
  console_game_id INTEGER PRIMARY KEY AUTO_INCREMENT,
  console_id integer,
  game_id integer,
  price integer,
  FOREIGN KEY (console_id) REFERENCES consoles (console_id) on delete restrict,
  FOREIGN KEY (game_id) REFERENCES games (game_id) on delete cascade
);
{% endhighlight %}
{% endanswer %}
  </li>

  <li><strong>Adding Data</strong> (10 points)<br />
    <p>
      Add the following data to your database.
    </p>
    <table>
      <thead>
        <th colspan="2"><code>consoles</code></th>
      </thead>
      <tbody>
        <tr>
          <th><code>console_id</code></th>
          <th><code>name</code></th>
        </tr>
        <tr>
          <td>1</td>
          <td>NES</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Wii</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Xbox</td>
        </tr>
        <tr>
          <td>4</td>
          <td>PS 4</td>
        </tr>
      </tbody>
    </table>

    <table style="margin-top: 1em;">
      <thead>
        <th colspan="3"><code>games</code></th>
      </thead>
      <tbody>
        <tr>
          <th><code>game_id</code></th>
          <th><code>name</code></th>
          <th><code>description</code></th>
        </tr>
        <tr>
          <td>1</td>
          <td>Super Mario Bros.</td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>ASC</td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Rayman</td>
          <td></td>
        </tr>
      </tbody>
    </table>
{% answer %}
    <div class="grading">
    3+3 points for insert into (...) values incl. semicolon at end<br />
    2+2 points for data (2 for consoles, 2 for games)<br />
    </div>
{% highlight "sql" %}
insert into consoles (name) values
('NES'),
('Wii'),
('Xbox'),
('PS 4');

insert into games (name) values
('Super Mario Bros.'),
('ASC'),
('Rayman');
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Delete the 'ASC' game. (3 points)<br />
{% answer %}
    <div class="grading">
    2 points for delete statement incl. semicolon<br />
    1 point for correct condition<br />
    </div>
{% highlight "sql" %}
delete from games where name = 'ASC';
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Rename the 'Super Mario Bros.' to 'Super Mario 1'. (3 points)<br />
{% answer %}
    <div class="grading">
    1 point for update table incl. semicolon<br />
    1 point for set name...<br />
    1 point for correct condition
    </div>
{% highlight "sql" %}
update games set name = 'Super Mario 1' where name = 'Super Mario Bros.';
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Since we don't have time to maintain the content of the
    consoles_games table, remove it. (2 points)<br />
{% answer %}
    <div class="grading">
    2 points for drop statement incl. semicolon<br />
    </div>
{% highlight "sql" %}
drop table consoles_games;
{% endhighlight %}
{% endanswer %}
  </li>

  <li>Finaly, show the content of both remaining tables
    (<code>consoles</code> and <code>games</code>)
    using two separate SQL statements. (4 points)
{% answer %}
    <div class="grading">
    2 points for each select statement incl. semicolon<br />
    </div>
{% highlight "sql" %}
select * from consoles;
select * from games;
{% endhighlight %}
{% endanswer %}
  </li>

</ol>
