{% extends "layouts/presentations/c_cpp_arrays.njk" %}

{% set title = "Programming in C" %}
{% set subtitle = "Arrays" %}

{% set language = "C" %}
{% set language_ = language | lower %}
{% set compiler = "clang" %}
{% set alt_compiler = "gcc" %}





{% include 'slides/closing.njk' %}
