{% extends "layouts/presentations/lang_fast_track.njk" %}

{% set title = "Programming in C" %}
{% set subtitle = "Fast Track to C Syntax for Programmers" %}

{% set language = "C" %}
{% set language_ = language | lower %}
{% set clang = "clang" %}
{% set gcc = "gcc" %}
