---
title: Programming in C
subtitle: File I/O
layout: layouts/presentation.njk
requires: pointers, structs
---

<section>
  <h2>Purpose of File I/O</h2>
  <ul>
    <li>Store persistent data
      <ul>
        <li>Write the results of your computations to files</li>
        <li>Keep a log of errors</li>
        <li>Store intermediate results</li>
      </ul>
    </li>
    <li>Load previously stored files
    </li>
  </ul>
</section>

<section>
  <h2>File Types</h2>

  <section>
  <h3>Text</h3>
    <dl>
      <dt>+</dt>
      <dd>Human readable</dd>
      <dd>Multiple powerful standards like CVS, XML, JSON and YAML</dd>
      <dd>Can usually be compressed</dd>
      <dt>-</dt>
      <dd>Hard to parse manually</dd>
      <dd>Require more memory</dd>
    </dl>
  </section>

  <section>
    <h3>Binary</h3>
    <dl>
      <dt>+</dt>
      <dd>Require less memory</dd>
      <dd>Are easy to write and load if the exact format is known</dd>
      <dt>-</dt>
      <dd>Not human readable</dd>
      <dd>Editing with a hex editor is tedious</dd>
      <dd>Cannot be read when the format is not known</dd>
    </dl>
  </section>
</section>

<section>
  <h2>C API</h2>
  <p>All required functions are provided by <code>&lt;stdio.h&gt;</code></p>
  <p><code>fopen(.)</code> opens files; if opening fails, NULL is returned</p>
{% highlight "c" %}
FILE *fopen(const char *pathname, const char *mode);
{% endhighlight %}
  <div class="fragment">
    <p><code>fprintf(.)</code> and <code>fwrite(.)</code> write text and binary
      data to open files</p>
{% highlight "c" %}
int fprintf(FILE *stream, const char *format, ...);
size_t fwrite(const void *ptr, size_t size, size_t nmemb, FILE *stream);
{% endhighlight %}
  </div>
  <div class="fragment">
    <p><code>fclose(.)</code> writes buffered output and frees the file pointer's
      resources</p>
{% highlight "c" %}
int fclose(FILE *stream);  // on successful completion, 0 is returned
{% endhighlight %}
  </div>
</section>

<section>
  <h2>Text Files</h2>
  <section>
    <h3>Example: Writing Text</h3>
{% highlight "c 0,4,11-13" %}
{% include "source/c/file_io/write_text.c" %}
{% endhighlight %}
{% download "/data/c/file_io/write_text.c" %}
  </section>

  <section>
    <h3>Example: Appending Text</h3>
{% highlight "c 0,3,10" %}
{% include "source/c/file_io/append_text.c" %}
{% endhighlight %}
{% download "/data/c/file_io/append_text.c" %}
  </section>

  <section>
    <h3>Reading Text</h3>
{% highlight "c 4,10,11" %}
{% include "source/c/file_io/read_text.c" %}
{% endhighlight %}
{% download "/data/c/file_io/read_text.c" %}
  </section>
</section>

<section>
  <h2>Binary Files</h2>

  <section>
    <h3>Example: Writing Data</h3>
{% highlight "c 9,11" %}
{% include "source/c/file_io/write_binary.c" %}
{% endhighlight %}
{% download "/data/c/file_io/write_binary.c" %}
  </section>

  <section>
    <h3>Example: Reading Data</h3>
{% highlight "c 7,9" %}
{% include "source/c/file_io/read_binary.c" %}
{% endhighlight %}
{% download "/data/c/file_io/read_binary.c" %}
  </section>

  <section>
    <h3>Example: Write Array</h3>
{% highlight "c 4,7" %}
{% include "source/c/file_io/write_array.c" %}
{% endhighlight %}
{% download "/data/c/file_io/write_array.c" %}
  </section>

  <section>
    <h3>Read Binary Data With a Hex Editor (eg. Okteta)</h3>
    <p>Start by investigating the file size (eg. <kbd>ls -l</kbd>)</p>
    <p>Decode the values of the array:
      <kbd>xxd [-b] file.bin</kbd>
      (hint: <a href="https://en.wikipedia.org/wiki/Endianness">endianness</a>)
    </p>
    <pre style="font-size: 100%; text-align: center;" class="fragment">
Dec Hex  Bin      Dec Hex  Bin
  0   0 0000        8   8 1000
  1   1 0001        9   9 1001
  2   2 0010       10   A 1010
  3   3 0011       11   B 1011
  4   4 0100       12   C 1100
  5   5 0101       13   D 1101
  6   6 0110       14   E 1110
  7   7 0111       15   F 1111
      </pre>
  </section>

</section>


<section>
  <h2>Exercise</h2>
  <ol>
    <li>Write your name in a text file. Then write a C program to read that
      file and print its content to <code>stdout</code>.</li>
    <li>Write a C program that loads the array written by
      <a href="/data/c/file_io/write_array.c"><code>write_array.c</code></a>.
      The program must print all numbers in the array to <code>stdout</code>,
      separated by commas.
    </li>
  </ol>
</section>

{% include 'slides/closing.njk' %}
