---
title: Programming in C
subtitle: Function Pointer
layout: layouts/presentation.njk
requires: pointers, structs
---

<section>

  <section>
  <h2>Purpose of Function Pointers</h2>
  <ul>
    <li>Allow treating functions as
      <a href="https://en.wikipedia.org/wiki/First-class_citizen">first class citizen</a>
      <ul>
        <li>Being passed as an argument</li>
        <li>Returned from a function</li>
        <li>Assigned to a variable</li>
      </ul>
    </li>
    <li class="implication fragment">Callback functions can be implemented</li>
    <li class="implication fragment">More functional programming techniques can be use</li>
    <li class="implication fragment">Functions can be members of structs</li>
    <li class="implication fragment">Prerequisite of object-like programming in C</li>
  </ul>
  </section>

  <section>
  <h3>Which Issues do Function Pointers Have?</h3>
  <ul>
    <li>Syntax can be hard to read and understand</li>
    <li>C is still not an object oriented programming (OOP) language<br />
      eg. encapsulation and inheritance are missing</li>
  </ul>
  <div class="fragment">
    The above problems are solved by C++ and other OOP languages
    <ul>
      <li class="implication fragment">Use a proper OOP language if needed</li>
    </ul>
  </div>
  </section>
</section>

<section>
  <h2>Syntax</h2>
  <section>
    <p>A function pointer is a pointer that points to a function</p>
{% highlight "c" %}
Type (*functionpointer)(Type arg1, Type arg2, ...);
{% endhighlight %}

    <div class="fragment">
      <p>The function pointer's type contains the arguments and return type of
        the function pointed to</p>
    </div>
  </section>

  <section>
    <h3>Example</h3>
{% highlight "c" %}
int sum(int a, int b);
int (*sum_ptr)(int,int);  // declares a function pointer named `sum_ptr`
sum_ptr = &sum;  // `&` is not required
{% endhighlight %}
    <p>The function pointer can then be used by de-referencing it</p>
{% highlight "c" %}
printf("The sum of 2 + 3 is %d\n", (*sum_ptr)(2, 3));  // `*` is not required
{% endhighlight %}
  </section>

  <section>
    <h3>Complete Program</h3>
{% highlight "c 4-6" %}
{% include "source/c/function_pointers/basics.c" %}
{% endhighlight %}
{% include_code "source/c/function_pointers/basics.c" %}
  </section>
</section>


<section>
  <h2>Application: Case Insensitive Sorting</h2>
  <section>
    <p><code>qsort(.)</code> in <code>stdlib.h</code> takes a function pointer
      as argument</p>
{% highlight "c" %}
void qsort(void *base, size_t nmemb, size_t size,
           int (*compar)(const void *, const void *));
{% endhighlight %}
    <p><code>strcasecmp(.)</code> in <code>strings.h</code> performs case
      insensitive comparison</p>
{% highlight "c" %}
int strcasecmp(const char *s1, const char *s2);
{% endhighlight %}
  </section>

  <section>
{% highlight "c 10" %}
{% include "source/c/function_pointers/sort.c" %}
{% endhighlight %}
{% include_code "source/c/function_pointers/sort.c" %}
  </section>
</section>

<section>
  <h2>Application: Callback Functions</h2>

  <section>
    <p>Download an internet resource without a callback
      (link against <code>curl</code>)
    </p>
  <section>
{% highlight "c" %}
{% include "source/c/function_pointers/get_request.c" %}
{% endhighlight %}
{% download "/data/c/function_pointers/get_request.c" %}
  </section>
    <p></p>
  </section>

  <section>
{% highlight "c 2,15,16" %}
{% include "source/c/function_pointers/get_with_callback.c" %}
{% endhighlight %}
{% download "/data/c/function_pointers/get_with_callback.c" %}
  </section>
</section>

<section>
  <h2>Application: Object Like Programming in C</h2>

  <section>
{% highlight "c 6-9" %}
typedef struct intarray IntArray;
struct intarray {
  size_t reserved;  // available storage
  size_t elements;  // current number of elements
  int* array;

  void (*push_back)(IntArray* self, int elem);
  int (*sum)(const IntArray* self);
  int (*count)(const IntArray* self, int elem);
  IntArray* (*destruct)(IntArray* self);
};
IntArray* ia_construct();
{% endhighlight %}
  </section>

  <section>
{% highlight "c" %}
{% include "source/c/function_pointers/c_oop.c" %}
{% endhighlight %}
{% include_code "source/c/function_pointers/c_oop.c" %}
  </section>

</section>

<section>
  <h2>Exercise</h2>
  <p>Implement or rewrite the entire integer array functionality
    (second task of <a href="/exercises/c/exercise_free_store/">
      Dynamic Memory Management (Free Store)
    </a> exercise using function pointers.</p>
</section>

{% include 'slides/closing.njk' %}
