---
layout: layouts/exercise_base.njk
exercise: Introduction to OOP - Structs
---

<ol>
{#  <li><strong>Euclidean vector</strong><br />
    Task is available on
    <a href="https://github.com/HTL-Bulme/cpp_struct_euclidean_vector/">GitHub</a>.
    It is a template repository that needs to be set up for a classroom.

    <br />
    Name the source file: <kbd>vector.cpp</kbd>
  </li>
#}
</ol>
