---
title: FSST
layout: layouts/base_subject.njk
eleventyNavigation:
  key: FSST
  order: 4
subelements: 5
---

<h2>Kolleg and Night School</h2>

<nav class="subjects">
  <a class="subject" href="e3/">
    <span class="material-icons">filter_{{ 3 }}</span>
    <div>{{ title }} e3</div>
  </a>
  <a class="subject" href="e4/">
    <span class="material-icons">filter_{{ 4 }}</span>
    <div>{{ title }} e4</div>
  </a>
</nav>
