---

---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Gerald Senarclens de Grancy" />
  <title>Header Tables</title>
  <link rel="icon"
        href="/images/favicon.png"
        type="image/png" />
  <link rel="stylesheet" href="/styles/fonts-local.css" type="text/css">
  <link rel="stylesheet" href="/styles/test.css" type="text/css">
  <style>
    body {
      max-width: initial;
      {# font-size: 70%; #}
    }

    table {
      margin-bottom: 3em;
    }

    @page {
        size: landscape;
    }
  </style>
</head>

<body>

{% include 'blocks/networking/mac_header.njk' %}

{% include 'blocks/networking/ipv4_packet.njk' %}

{% include 'blocks/networking/icmp_header.njk' %}

{% include 'blocks/networking/tcp_header.njk' %}

</body>
</html>
