---
title: FSST Module 3
layout: layouts/base_subject.njk
eleventyNavigation:
  key: FSST e3
  parent: FSST
  order: 6
---

This module is for students taking the third term of the electronics and
computer engineering Kolleg. It is likewise for night school students during
their fifth term.

<h2 id="overview">Course Overview</h2>
<ul>
  <li><a href="/presentations/c/introduction/#/2">Programming in C - Introduction</a></li>
  <li><a href="/presentations/c/fast_track/">Fast Track to C Syntax for Programmers</a></li>
  <li><a href="/presentations/c/strings/">Programming in C - Working with Text</a></li>
  {#<li>Functions in C (including variadic functions)</li>#}
  <li><a href="/presentations/c/structs/">Programming in C - Typedef and Structs - Composite Data Types</a></li>
  <li><a href="/presentations/c/multiple_files/">Programming in C - Working with multiple source files and build tools</a></li>
  <li><a href="/presentations/c/pointers/">Programming in C - Pointers</a></li>
  <li><a href="/presentations/c/dynamic_memory_management/">Programming in C - Dynamic Memory Management</a></li>
  <li><a href="/presentations/c/unit_testing/">Unit Testing</a></li>
  <li>Introduction to Web Programming</li>
</ul>

<h2 id="exercises">Programming Exercises</h2>
<ul>
  <li><a href="/exercises/c/exercise_structs/">Structs</a></li>
  <li><a href="/exercises/c/exercise_pointers/">Pointers</a></li>
  <li><a href="/exercises/c/exercise_multiple_files/">Multiple source files</a></li>
  <li><a href="/exercises/c/exercise_free_store/">
    Dynamic memory management (free store)</a></li>
</ul>

<h2 id="exams">Prior Exams</h2>
<ul>
  <li><a href="tests/fsste3_midterm_f2022_a_de/">FSST e3 midterm f2022 (group A,
    German)</a></li>
  <li><a href="tests/fsste3_final_f2022_a_de/">FSST e3 final f2022 (group A,
    German)</a></li>
</ul>

<h2 id="links">Links</h2>
<ul>
  <li><a href="http://docs.find-santa.eu/linux/#selected-shell-commands">Selected Linux shell commands</a></li>
  <li><a href="http://docs.find-santa.eu/linux/ssh.html">Connecting to Linux Using SSH</a></li>
</ul>
{% include 'blocks/code_challenge_sites.njk' %}


<h2 id="curriculum">Content of the Curriculum (3rd module)</h2>

<ul>
  <li>Software Engineering
    <ul>
      <li>Creating data structures</li>
      <li>Serializing data to files</li>
    </ul>
  </li>
  <li>Embedded Programming
    <ul>
      <li>Write modular programs that interact with peripherals</li>
      <li>Event processing (eg. using interrupts)</li>
    </ul>
  </li>
  <li>Web Design
    <ul>
      <li>Client-server model</li>
      <li>Create simple web pages using current web technologies
        (HTML, CSS and JavaScript)</li>
    </ul>
  </li>
</ul>
