---
title: FI
layout: layouts/base_subject.njk
eleventyNavigation:
  key: FI
  order: 3
---

<p><a href="https://www.eduvidual.at/course/view.php?id=99245">Moodle Kurs (7ABET/7ACET f2021)</a></p>

<h3>Tests</h3>
<p>2021-11-10</p>
<p>2021-12-22</p>

<h3 id="databases">Databases</h3>
<ul>
  <li><a href="https://sqlitebrowser.org/dl/">DB Browser for SQLite</a>
   (available as portable version</li>
  <li><a href="https://github.com/jpwhite3/northwind-SQLite3/raw/master/Northwind_small.sqlite">Northwind-SQLite3 (small dataset)</a></li>
  <li><a href="https://github.com/jpwhite3/northwind-SQLite3/raw/master/Northwind_large.sqlite.zip">Northwind-SQLite3 (large dataset)</a></li>
  <li><a href="https://www.w3schools.com/sql/default.asp">SQL Tutorial</a></li>
  <li><a href="https://www.w3schools.com/sql/exercise.asp">Online SQL Exercises</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Join_(SQL)">SQL Joins (Wikipedia article)</a></li>
</ul>

<h3 id="c_sharp">C#</h3>
<ul>
  <li><a href="https://www.exercisescsharp.com/oop/">C Sharpe OOP Exercises</a></li>
  <li><a href="https://www.robmiles.com/c-yellow-book">The C# Yellow Book</a></li>
  {# https://www.juanantonioripoll.es/practice-exercises-c-sharp/practice-exercises-c-sharp-exercise-6-3-Shapes #}
</ul>

<h3 id="python">Python</h3>
<ul>
  <li><a href="https://www.senarclens.eu/~gerald/presentations/cms1/3_strings/">Python Strings etc.</a></li>
  <li><a href="https://www.senarclens.eu/~gerald/presentations/cms1/4_functions/#(1)">Python Functions</a></li>
  <li><a href="https://www.senarclens.eu/~gerald/presentations/cms1/5_data/#(1)">Python Collection Data Structures</a></li>
</ul>

<h3 id="links">Links</h3>
<ul>
  <li><a href="https://github.com">github.com</a></li>
  <li><a href="https://www.hackerrank.com">hackerrank.com</a></li>
  <li><a href="https://replit.com">replit.com</a></li>
</ul>
