---
layout: layouts/exercise_base.njk
exercise: SQL Joins (AdventureWorks)
---

<p>Answer these questions using the AdventureWorks database provided
  in the
  <a href="https://github.com/HTL-Bulme/sample_databases">sample databases</a>
  repository. The ERD in the repository shows how the different relations
  (and, depending on your DBMS, schemata) work together.
</p>

<p>Run the following queries (there is more than one way to write most of
  these queries).</p>

<ol>
  {#<li>Join (with inner join) together person, personphone, businessentity and
    phonenumber type in the persons schema.  Return first name, middle name,
    last name, phone number and the name of the phone number type
    (home, office, etc.).  Order by business entity id descending.</li>#}
  <li>Join (Inner) productmodel, productmodelproductiondescriptionculture,
    productdescription and culture from the production schema.  Return the
    productmodel name, culture name, and productdescription description ordered
    by the product model name.</li>
  <li>Add a join to previous example to production.product and return the
    product name field in addition to other information.</li>
  <li>Join product and productreview.
    Include every record from product and any reviews they have.  Return the
    product name, review rating and comments.  Order by rating in ascending
    order.</li>
  <li>Use a right join to combine workorder and product from production schema
    to bring back all products and any work orders they have.  Include the
    product name and workorder orderqty and scrappedqty fields.  Order by
    productid ascending.</li>
</ol>
