---
layout: layouts/exercise_base.njk
exercise: Introduction to SQL Exercises
---

<p>Answer these questions using the Northwind database provided on your couse
  homepage.
</p>

<ol>
  <li><strong>Basic Database Queries</strong><br />
    <ol>
      <li>Our company is rapidly growing. The board of directors wants to
        know in how many countries we already have customers. Please provide
        them with an accurate figure.
      </li>
      <li>In how many different countries do we have supplier contacts.</li>
      <li>We currently have only few employees. In which countries do they
        work?
      </li>
      <li>How many customers do we have in the USA?</li>
      <li>Trying to assess the risk of the current crisis in Ukraine, how
        many customers do we have in Poland, Finland and Sweden combined?
      </li>
      <li>Do we have any suppliers in Scandinavia outside of Norway?</li>
      <li>Which CUSTOMER_IDs did post the top three orders with the
        largest freight?</li>
      <li>Which products are currently out of stock?</li>
      <li>Are all of our employees responsible for at least one order
        since the start of 2016?</li>
    </ol>
  </li>
  <li><strong>Adding Data</strong>
    <ol>
      <li>Add yourself and your neighbour to the <kbd>Employees</kbd> table.</li>
      <li>Enter a new region "EMEA" into the regions table.</li>
      <li>Add "Styria" to the Territories so that it belongs to "EMEA".</li>
    </ol>
  </li>
  <li><strong>Update Data</strong>
    <ol>
      <li>Nobody really uses fax anymore. Update the customers table to delete
        the value in the fax column for each customer.
      </li>
      <li>Customer "Berglunds snabbköp" has a new address. Their headquarters
        are now in "Olof Palmes gata 17" in 90323 Umeå. Update the customer
        table accordingly using SQL.
      </li>
      <li>Update all employees in the "British Isles" region to henceforth
        be in the "Great Britain" region.
      </li>
    </ol>
  </li>
  <li><strong>Remove Rows</strong><br />
    We need to perform maintenance work and delete lots of old orders.
    Remove all rows from the <kbd>Orders</kbd> table that have an order date
    before 2013-01-01.
  </li>
  <li>
    For reporting to senior management, generate a table containing
    order details with the 10 highest unit prices. Create a second query
    to highlight the 10 highest discounts.
  </li>
  <li><strong>Aggregations</strong><br />
    <ol>
      <li>Create a query that only shows the product id and unit price of the
        product with the highest unit price.</li>
      <li>Calculate the turnover of all orders ever made (the sum of the
        product of unitprice and quantity of all items ever ordered). Call
        this value <kbd>Turnover</kbd> using an alias.
      </li>
    </ol>
  </li>
</ol>
