---
layout: layouts/exercise_base.njk
exercise: Introduction to SQL References
supports: mariadb
note: tested and solved only in Mariadb
---

<p>In this exercise, you will have to <code>update</code> and
  <code>delete</code> data. Make sure to <code>select</code> the affected
  data upfront to only affect the desired records afterwards.</p>

<p>Copy all of your SQL statements for this exercise to a text editor and save
  the file as <kbd>references_1.sql</kbd>.
  Make screenshots of the outcomes of all <code>select</code> queries.</p>


<ol>
  <li><strong>Create a Database and Tables</strong><br />
    Create the database matching the following ERD. Make sure to
    create a reference between the tables.<br />
    <img src="/images/databases/employee_db.png" alt="[Employee DB ERD]">
  </li>
  <li><strong>Adding Data</strong><br />
    <p>
      Add the following data to your database. Why should you start with the
      <kbd>departments</kbd> table?
    </p>
    <table>
      <thead>
        <th colspan="2">departments</th>
      </thead>
      <tbody>
        <tr>
          <th>department_id</th>
          <th>name</th>
        </tr>
        <tr>
          <td>1</td>
          <td>engineering</td>
        </tr>
        <tr>
          <td>2</td>
          <td>marketing</td>
        </tr>
        <tr>
          <td>3</td>
          <td>sales</td>
        </tr>
      </tbody>
    </table>

    <p>Now enter data to your <code>employees</code> table.</p>

    <table>
      <thead>
        <th colspan="4">employees</th>
      </thead>
      <tbody>
        <tr>
          <th>employee_id</th>
          <th>first_name</th>
          <th>last_name</th>
          <th>department_id</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Amelie</td>
          <td></td>
          <td>1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Susanna</td>
          <td></td>
          <td>1</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Pat</td>
          <td></td>
          <td>2</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Chris</td>
          <td></td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
  </li>

  <li><strong>Adjust the Data</strong><br />
    <ol>
      <li>Insert two new departments: <code>domestic sales</code> and
        <code>international sales</code>.</li>
      <li>After having added the new departments, try to remove the existing
        <code>sales</code> department. What happens? Why?</li>
      <li>Now update <code>Chris</code> to be in the new
        <code>domestic sales</code> department. Afterwards, try to remove the
        former <code>sales</code> department again. This time it should
        succeed. Why?</li>
      <li>Try to add a new employee having the first name `Elon` to the
        department with id = `17` which we didn't create. What happens?</li>
      <li>Finally, try to drop the entire departments table and explain
        what happens.</li>
    </ol>
     <br />
    <br />

    </li>

  <li><strong>On delete cascade</strong>
    <ol>
      <li>Try to remove the <code>marketing</code> department.
        Why does this fail?
        To fix this, we'll replace the existing foreign key by first removing
        it and then adding a new one that will delete the linked data when
        a department is deleted.<br />
        That means, all employees in affected departments will also be removed
        when a department is disbanded. In order to remove a foreign key
        reference, you have to find out its name. The constraint's name is
        available in the error message when trying to delete a department with
        employees associated to it.
        Alternatively, you can obtain the name of the constraint via
{% highlight 'sql' %}
show create table employees;
{% endhighlight %}
        Remove the foreign key according to the documentation for
        <a href="https://mariadb.com/kb/en/alter-table/"><code>alter
          table</code></a>.
      </li>
      <li>The original foreign key referencing the departments tables was of
        type <code>restrict</code>. After dropping it, add a new foreign key
        between the tables that will cascade the delete operation to affected
        employees.
        This time, give the foreign key constraint the name
        <code>fk_employees_departments</code> to make it easier to work with
        it later on.
      </li>
      <li>Once that is complete, delete the <code>marketing</code> department
        again. Afterwards, use <code>select</code> to show all departments to
        check if the deletion was successful. Then show all employees to see
        what happend.</li>
    </ol>
  </li>

  <li><strong>On delete set null</strong>
    <ol>
      <li>Create a new <code>department</code> called <kbd>R&D</kbd>.</li>
      <li>Change the foreign key reference so that affected employees won't
        be deleted any more. Instead, when their department is deleted,
        they should have <code>NULL</code> in their <code>department_id</code>
        column.</li>
      <li>Remove the engineering department.</li>
      <li>List all employees. There should be employees that are not
        associated with a department.
      </li>
    </ol>

  <li><strong>Updating Data</strong><br />
    Finally, add the tangling employees
    (all employees that are currently not associated with a department)
    to the new 'R&D' department.
  </li>
</ol>
