---
layout: layouts/exercise_base.njk
exercise: School Database
---

<ol>
  <li>
    Design a database to represent the typical entities in a public school.
    Begin with a brainstorming in teams of two or three to come up with all the
    required entities and their properties. Draft an ERD on paper including
    the relations' fields, data types and the references between them.
  </li>
  <li>
    Using your favorite database tool, create the database and all
    relations in your main DBMS.</li>
  <li>
    Insert testing data using <code>insert into</code>.
  </li>
  <li>
    Test the references by trying to delete or update records that affect the
    foreign key fields.
  </li>
</ol>
