---
layout: layouts/exercise_base.njk
exercise: Loops
points: 5
---
<ol>
  <li><strong>Size of date types</strong><br />
  Write a c file that prints the sizes of all data types you know.<br />
  Name the source file: <kbd>data_types.c</kbd>
  </li>
  <li><strong>Even numbers</strong><br />
    Write a program that prints all even numbers from (including) 10 to
    (including) 100. Each number should be printed on a separate line.<br />
    Name the source file: <kbd>even_numbers.c</kbd>
  </li>

  <li><strong>Alphabet</strong><br />
    Write a program that prints all lower case characters from 'a' to 'z'
    on a single line without any separator. Print a newline (<code>\n</code>)
    character at the end of the sequence.<br />
    <kbd>Name the source file: alphabet.c</kbd>
  </li>

  <li><strong>Sequence of Numbers</strong><br />
    Write a loop that prints out all odd numbers greater than or equal to 50
    and less than or equal 1110 if the numbers can be divided by 3 without a
    remainder. Each number should be printed on a separate line.<br />
    Once you have a working solution, consider if there is a simpler solution.
    <br />
    <kbd>Name the source file: sequence</kbd>
  </li>

  <li><strong>Faculty Function</strong><br />
    The faculty of an integral number is the product of all integral numbers
    between 1 and that number. For example, the faculty of 5 (usually written
    as <kbd>5!</kbd> is <kbd>5 * 4 * 3 * 2 * 1</kbd>. Write a program that
    calculates the faculty of 13 (<kbd>13!)</kbd> and prints the result
    to the terminal. Verify that your result is correct!<br />
    <kbd>Name the source file: faculty.c</kbd>
  </li>

</ol>
