---
layout: layouts/exercise_base.njk
exercise: Pointers
points: 5
---

<ol>
  <li><strong>Initialize arrays</strong><br />
    Implement the following functions:
{% highlight "c" %}
int main();
void zeros(int* array, int count);
void ones(int* array, int count);
void range(int* array, int count);
{% endhighlight %}
    <code>zeros(.)</code> gets an array and the number of its elements. It
    should set each element to zero. <code>ones(.)</code> does the same as
    zeros, but sets each value to one. <code>range(.)</code> sets the
    array to <code>0, 1, 2, 3, ..., count-1</code><br />
    Implement <code>main(.)</code> to initialize an array, call each of the
    above functions and print the array right after each function call.<br />
    Name the source file: <kbd>initialize_arrays.c</kbd>
  </li>

  <li><strong>String operations</strong><br />
    Implement the following functions:
{% highlight "c" %}
int main();
void to_upper(char* array);
bool has_upper(char* array);
bool is_upper(char* array);
void to_lower(char* array);
bool has_lower(char* array);
bool is_lower(char* array);
{% endhighlight %}
    Name the source file: <kbd>string_manipulation.c</kbd>
  </li>

</ol>
