---
title: FSST 1
layout: layouts/base_subject.njk
eleventyNavigation:
  key: FSST 1
  parent: FSST
  order: 1
---
<h2 id="overview">Course Overview</h2>

<h2 id="links">Links</h2>

<ul>
  <li><a href="https://pythontutor.com">Python Tutor</a></li>
</ul>
{% include 'blocks/code_challenge_sites.njk' %}

<h2 id="curriculum">Content of the Curriculum (1st Year)</h2>
<p>
<a href="https://www.ris.bka.gv.at/eli/bgbl/ii/2015/262/ANL1.5/NOR40234867?ResultFunctionToken=52824552-7fbf-4180-b06a-4d04c703dfab&Position=1&SkipToDocumentPage=True&Abfrage=Bundesnormen&Kundmachungsorgan=&Index=&Titel=&Gesetzesnummer=&VonArtikel=&BisArtikel=&VonParagraf=&BisParagraf=&VonAnlage=&BisAnlage=&Typ=&Kundmachungsnummer=&Unterzeichnungsdatum=&FassungVom=15.09.2021&VonInkrafttretedatum=&BisInkrafttretedatum=&VonAusserkrafttretedatum=&BisAusserkrafttretedatum=&NormabschnittnummerKombination=Und&ImRisSeitVonDatum=&ImRisSeitBisDatum=&ImRisSeit=Undefined&ResultPageSize=100&Suchworte=ELEKTRONIK+UND+TECHNISCHE+INFORMATIK">Curriculum in the Legal Information System</a> (see Attachment 1.5)
</p>

<h4>Module 1+2</h4>

<ul>
  <li>Technical Software
    <ul>
      <li>Office applications</li>
      <li>Relevant technical applications</li>
    </ul>
  </li>
  <li>Programming Languages
    <ul>
      <li>Classification of programming languages and their application
        areas</li>
      <li>Syntax</li>
      <li>Compilation / interpretation to create and run programs</li>
    </ul>
  </li>
  <li>Embedded Programming
    <ul>
      <li>Employ a language's standard library core facilities</li>
      <li>Use a development environment</li>
    </ul>
  </li>
</ul>
